In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
os.getcwd()

'/Users/nicholaslandi/Desktop/DataVizCode'

In [3]:
pd.set_option('display.max_columns', None)
meat_consumption = pd.read_csv('meat_consumption.csv')  
meat_consumption

      LOCATION SUBJECT     MEASURE  TIME       Value
0          AUS    BEEF      KG_CAP  1990    0.000004
1          AUS    BEEF      KG_CAP  1991   27.808401
2          AUS    BEEF      KG_CAP  1992   26.278166
3          AUS    BEEF      KG_CAP  1993   26.244478
4          AUS    BEEF      KG_CAP  1994   25.541244
...        ...     ...         ...   ...         ...
12135     EU27   SHEEP  THND_TONNE  2024  732.149998
12136     EU27   SHEEP  THND_TONNE  2025  737.008238
12137     EU27   SHEEP  THND_TONNE  2026  741.104095
12138     EU27   SHEEP  THND_TONNE  2027  743.489549
12139     EU27   SHEEP  THND_TONNE  2028  747.011872

[12140 rows x 5 columns]

## WORKING WITH COUNTRY_POP

In [4]:
country_pop = pd.read_excel('Country-Population.xls')  
country_pop.head() #subset only relevant columns, convert to long format and combine with KG_CAP table

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54208.0,55435.0,56226.0,56697.0,57029.0,57360.0,57712.0,58049.0,58385.0,58724.0,59065.0,59438.0,59849.0,60239.0,60525.0,60655.0,60589.0,60366.0,60106.0,59978.0,60096.0,60567.0,61344.0,62204.0,62831.0,63028.0,62644.0,61835.0,61077.0,61032.0,62148.0,64623.0,68235.0,72498.0,76700.0,80326.0,83195.0,85447.0,87276.0,89004.0,90858.0,92894.0,94995.0,97015.0,98742.0,100031.0,100830.0,101218.0,101342.0,101416.0,101597.0,101936.0,102393.0,102921.0
1,Andorra,AND,"Population, total",SP.POP.TOTL,13414.0,14376.0,15376.0,16410.0,17470.0,18551.0,19646.0,20755.0,21888.0,23061.0,24279.0,25560.0,26892.0,28231.0,29514.0,30706.0,31781.0,32769.0,33746.0,34819.0,36063.0,37502.0,39112.0,40862.0,42704.0,44597.0,46515.0,48458.0,50431.0,52449.0,54511.0,56674.0,58904.0,61003.0,62707.0,63854.0,64291.0,64147.0,63888.0,64161.0,65399.0,67770.0,71046.0,74783.0,78337.0,81223.0,83373.0,84878.0,85616.0,85474.0,84419.0,82326.0,79316.0,75902.0
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8994793.0,9164945.0,9343772.0,9531555.0,9728645.0,9935358.0,10148841.0,10368600.0,10599790.0,10849510.0,11121097.0,11412821.0,11716896.0,12022514.0,12315553.0,12582954.0,12831361.0,13056499.0,13222547.0,13283279.0,13211412.0,12996923.0,12667001.0,12279095.0,11912510.0,11630498.0,11438949.0,11337932.0,11375768.0,11608351.0,12067570.0,12789374.0,13745630.0,14824371.0,15869967.0,16772522.0,17481800.0,18034130.0,18511480.0,19038420.0,19701940.0,20531160.0,21487079.0,22507368.0,23499850.0,24399948.0,25183615.0,25877544.0,26528741.0,27207291.0,27962207.0,28809167.0,29726803.0,30682500.0
3,Angola,AGO,"Population, total",SP.POP.TOTL,5270844.0,5367287.0,5465905.0,5565808.0,5665701.0,5765025.0,5863568.0,5962831.0,6066094.0,6177703.0,6300969.0,6437645.0,6587647.0,6750215.0,6923749.0,7107334.0,7299508.0,7501320.0,7717139.0,7952882.0,8211950.0,8497950.0,8807511.0,9128655.0,9444918.0,9745209.0,10023700.0,10285712.0,10544904.0,10820992.0,11127870.0,11472173.0,11848971.0,12246786.0,12648483.0,13042666.0,13424813.0,13801868.0,14187710.0,14601983.0,15058638.0,15562791.0,16109696.0,16691395.0,17295500.0,17912942.0,18541467.0,19183907.0,19842251.0,20520103.0,21219954.0,21942296.0,22685632.0,23448202.0
4,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,1914573.0,1965598.0,2022272.0,2081695.0,2135479.0,2187853.0,2243126.0,2296752.0,2350124.0,2404831.0,2458526.0,2513546.0,2566266.0,2617832.0,2671997.0,2726056.0,2784278.0,2843960.0,2904429.0,2964762.0,3022635.0,3083605.0,3142336.0,3227943.0,3286542.0,3266790.0,3247039.0,3227287.0,3207536.0,3187784.0,3168033.0,3148281.0,3128530.0,3108778.0,3089027.0,3060173.0,3051010.0,3039616.0,3026939.0,3011487.0,2992547.0,2970017.0,2947314.0,2927519.0,2913021.0,2904780.0,2900489.0,2897366.0

In [5]:
country_pop.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013'],
      dtype='object')

In [6]:
#filter out rows with THND_TONNE as default measure 
KG_CAP = meat_consumption.loc[meat_consumption['MEASURE'] == 'KG_CAP'].reset_index().drop(['index'], axis=1)
KG_CAP

     LOCATION SUBJECT MEASURE  TIME      Value
0         AUS    BEEF  KG_CAP  1990   0.000004
1         AUS    BEEF  KG_CAP  1991  27.808401
2         AUS    BEEF  KG_CAP  1992  26.278166
3         AUS    BEEF  KG_CAP  1993  26.244478
4         AUS    BEEF  KG_CAP  1994  25.541244
...       ...     ...     ...   ...        ...
6051      GBR   SHEEP  KG_CAP  2024   4.119413
6052      GBR   SHEEP  KG_CAP  2025   4.123996
6053      GBR   SHEEP  KG_CAP  2026   4.125127
6054      GBR   SHEEP  KG_CAP  2027   4.135186
6055      GBR   SHEEP  KG_CAP  2028   4.145831

[6056 rows x 5 columns]

In [7]:
KG_CAP.TIME.unique()

array([1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000,
       2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
       2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022,
       2023, 2024, 2025, 2026, 2027, 2028])

In [8]:
#remove EU27, OECD, BRICS, 'WLD'
#define values
values = ['EU27', 'OECD', 'BRICS', 'WLD']

#drop rows that contain any value in the list
KG_CAP = KG_CAP[KG_CAP.LOCATION.isin(values) == False]

In [9]:
KG_CAP = KG_CAP.reset_index().drop(['index'], axis=1)
KG_CAP

     LOCATION SUBJECT MEASURE  TIME      Value
0         AUS    BEEF  KG_CAP  1990   0.000004
1         AUS    BEEF  KG_CAP  1991  27.808401
2         AUS    BEEF  KG_CAP  1992  26.278166
3         AUS    BEEF  KG_CAP  1993  26.244478
4         AUS    BEEF  KG_CAP  1994  25.541244
...       ...     ...     ...   ...        ...
5427      GBR   SHEEP  KG_CAP  2024   4.119413
5428      GBR   SHEEP  KG_CAP  2025   4.123996
5429      GBR   SHEEP  KG_CAP  2026   4.125127
5430      GBR   SHEEP  KG_CAP  2027   4.135186
5431      GBR   SHEEP  KG_CAP  2028   4.145831

[5432 rows x 5 columns]

In [10]:
KG_CAP.LOCATION.unique()

array(['AUS', 'CAN', 'JPN', 'KOR', 'MEX', 'NZL', 'TUR', 'USA', 'ARG',
       'BRA', 'CHL', 'CHN', 'COL', 'EGY', 'ETH', 'IND', 'IDN', 'IRN',
       'ISR', 'KAZ', 'MYS', 'NGA', 'PAK', 'PRY', 'PER', 'PHL', 'RUS',
       'SAU', 'ZAF', 'THA', 'UKR', 'VNM', 'NOR', 'CHE', 'GBR'],
      dtype=object)

In [11]:
values2 = ['AUS', 'CAN', 'JPN', 'KOR', 'MEX', 'NZL', 'TUR', 'USA', 'ARG',
       'BRA', 'CHL', 'CHN', 'COL', 'EGY', 'ETH', 'IND', 'IDN', 'IRN',
       'ISR', 'KAZ', 'MYS', 'NGA', 'PAK', 'PRY', 'PER', 'PHL', 'RUS',
       'SAU', 'ZAF', 'THA', 'UKR', 'VNM', 'WLD', 'NOR', 'CHE', 'GBR']

In [12]:
country_pop = country_pop[country_pop['Country Code'].isin(values2) == True]

In [13]:
country_pop.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013'],
      dtype='object')

In [14]:
country_pop = country_pop.reset_index().drop(['index'], axis=1)
#drop uncessary columns (ie 1960-1989)
country_pop = country_pop.drop(['1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989'], axis=1)
country_pop.head()
#reformat

,Country Name,Country Code,Indicator Name,Indicator Code,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Argentina,ARG,"Population, total",SP.POP.TOTL,32729740.0,33193920.0,33655149.0,34110912.0,34558114.0,34994818.0,35419683.0,35833965.0,36241578.0,36648054.0,37057453.0,37471535.0,37889443.0,38309475.0,38728778.0,39145491.0,39558750.0,39969903.0,40381860.0,40798641.0,41222875.0,41655616.0,42095224.0,42538304.0
1,Australia,AUS,"Population, total",SP.POP.TOTL,17065100.0,17284000.0,17495000.0,17667000.0,17855000.0,18072000.0,18311000.0,18517000.0,18711000.0,18926000.0,19153000.0,19413000.0,19651400.0,19895400.0,20127400.0,20394800.0,20697900.0,20827600.0,21249200.0,21691700.0,22031750.0,22340024.0,22728254.0,23125868.0
2,Brazil,BRA,"Population, total",SP.POP.TOTL,150393143.0,152916852.0,155379009.0,157812220.0,160260508.0,162755054.0,165303155.0,167893835.0,170516482.0,173153066.0,175786441.0,178419396.0,181045592.0,183627339.0,186116363.0,188479240.0,190698241.0,192784521.0,194769696.0,196701298.0,198614208.0,200517584.0,202401584.0,204259377.0
3,Canada,CAN,"Population, total",SP.POP.TOTL,27791000.0,28171682.0,28519597.0,28833410.0,29111906.0,29354000.0,29671900.0,29987200.0,30247900.0,30499200.0,30769700.0,31081900.0,31362000.0,31676000.0,31995000.0,32312000.0,32570505.0,32887928.0,33245773.0,33628571.0,34005274.0,34342780.0,34754312.0,35158304.0
4,Switzerland,CHE,"Population, total",SP.POP.TOTL,6715519.0,6799978.0,6875364.0,6938265.0,6993795.0,7040687.0,7071850.0,7088906.0,7110001.0,7143991.0,7184250.0,7229854.0,7284753.0,7339001.0,7389625.0,7437115.0,7483934.0,7551117.0,7647675.0,7743831.0,7824909.0,7912398.0,7996861.0,8089346.0

In [15]:
#melt country_pop
country_pop_clean = pd.melt(country_pop, id_vars = ['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'], 
        value_vars = [str(i) for i in range(1990,2014)])
country_pop_clean = country_pop_clean.rename({'variable':'Year', 'value':'Population'}, axis=1)
country_pop_clean = country_pop_clean.sort_values(by =['Country Code', 'Year']).reset_index().drop(['index'], axis=1)
country_pop_clean #convert to clean CSV

,Country Name,Country Code,Indicator Name,Indicator Code,Year,Population
0,Argentina,ARG,"Population, total",SP.POP.TOTL,1990,32729740.0
1,Argentina,ARG,"Population, total",SP.POP.TOTL,1991,33193920.0
2,Argentina,ARG,"Population, total",SP.POP.TOTL,1992,33655149.0
3,Argentina,ARG,"Population, total",SP.POP.TOTL,1993,34110912.0
4,Argentina,ARG,"Population, total",SP.POP.TOTL,1994,34558114.0
...,...,...,...,...,...,...
835,South Africa,ZAF,"Population, total",SP.POP.TOTL,2009,50055701.0
836,South Africa,ZAF,"Population, total",SP.POP.TOTL,2010,50791808.0
837,South Africa,ZAF,"Population, total",SP.POP.TOTL,2011,51553479.0
838,South Africa,ZAF,"Population, total",SP.POP.TOTL,2012,52341695.0
839,South Africa,ZAF,"Population, total",SP.POP.TOTL,2013,53157490.0

In [16]:
country_pop_clean.to_csv('/Users/nicholaslandi/Desktop/DataVizCode/country_pop_clean.csv', index=False)

In [17]:
#country_pop_clean[country_pop_clean['Country Code'] == 'ARG']

## WORKING WITH COUNTRY GDP

In [18]:
GDP = pd.read_csv('GDP.csv')
GDP.head() #subset only relevant columns, convert to long format and combine with KG_CAP table

,Country,Country Code,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Aruba,ABW,24101.109430,25870.755940,26533.343900,27430.752400,28656.520210,28648.990020,28499.089430,30215.949230,30512.683910,30728.054500,33120.054180,32117.912320,30862.222690,31387.282960,34176.464600,35207.577240,36362.219320,37865.493490,38515.263800,34693.086750,33732.847450,35492.618490,35498.982090,37419.892820,38223.372260,38249.054870,38390.271650,39454.629830,NaN,NaN
1,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,839.485886,888.153370,885.840819,979.273979,1031.643135,1176.126357,1218.118215,1454.663015,1637.377987,1626.764793,1806.763930,1874.765634,1897.525938,1886.692977,1896.992520,1934.636754,1955.006208,NaN
2,Angola,AGO,3089.683369,3120.356148,2908.160798,2190.768160,2195.532289,2496.199493,2794.896906,2953.342709,3027.341795,3037.721175,3097.307292,3191.266323,3564.096026,3614.607278,3978.697194,4555.185842,5048.876449,5697.251328,6221.423373,6092.783245,6230.297028,6346.395122,6772.528333,6980.423038,7199.245478,7096.600615,6756.935074,6650.584940,6452.355165,NaN
3,Albania,ALB,2549.473022,1909.114038,1823.307673,2057.449657,2289.873135,2665.764906,2980.066288,2717.362124,3021.014738,3471.652592,3861.334172,4301.352799,4661.371553,4994.518807,5422.778462,5865.306196,6559.783257,7276.302969,8228.374239,8814.810856,9628.025783,10207.752350,10526.235450,10571.010650,11259.225890,11662.030480,11868.178970,12930.140030,13364.155400,NaN
4,Arab World,ARB,6808.206995,6872.273195,7255.328362,7458.647059,7645.682856,7774.207360,8094.149842,8397.515692,8797.662606,8938.451524,9415.632618,9584.108301,9581.797143,9974.641898,10937.316090,11646.486090,12442.187940,13041.925530,13739.727750,13640.846780,14127.778020,14518.827450,15423.465390,15824.780110,16153.244860,16501.792590,16935.383300,17099.889390,17570.137600,NaN

In [19]:
GDP = GDP[GDP['Country Code'].isin(values2) == True]
GDP = GDP.drop(['2019'], axis=1)
GDP.head()

,Country,Country Code,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
6,Argentina,ARG,7380.115031,8210.643432,8942.569853,9777.214005,10435.910770,10225.11871,10857.429670,11802.842590,12255.676260,11878.731170,11916.582610,11514.61911,10310.129120,11307.757980,12527.80050,13916.53051,15334.93686,16994.69598,17850.13019,16753.39489,18524.85676,19817.45048,19764.22501,20365.61335,20008.32064,20551.83319,20130.40803,20843.15507,20610.56855
9,Australia,AUS,17329.706610,17790.980140,18189.378740,19131.841870,20064.459010,20894.39721,21972.052650,22934.786010,24196.721280,25264.364360,26328.673680,27336.68269,28718.241080,29693.905910,31327.37749,32575.06925,34306.65231,36560.40565,37459.30765,40300.30823,39324.36895,41965.35842,42826.78958,45902.04795,46880.22066,46276.15069,47305.88002,49628.81181,51663.36509
25,Brazil,BRA,6710.964526,6919.981067,6925.379871,7297.683777,7723.899622,8102.66855,8300.244709,8594.561343,8588.358096,8624.437256,9073.976905,9274.24759,9581.992836,9747.941038,10460.55063,11004.95618,11659.39278,12568.19790,13332.14386,13288.43548,14320.36869,15061.95319,15506.55426,16111.44268,16358.39077,15813.85544,15331.54852,15662.24047,16096.40096
31,Canada,CAN,20173.935650,20160.728850,20557.463360,21367.203270,22555.697440,23401.87468,23962.499450,25167.519710,26220.266210,27745.806550,29265.084440,30107.65694,30853.201320,32225.052120,33796.99920,36211.08460,37999.03860,39439.80689,40275.98990,38797.38505,40012.39140,41569.44962,42189.19611,44188.73171,45645.56430,44567.86635,45011.64317,46723.31776,48130.25597
33,Switzerland,CHE,27594.632050,27915.471560,28226.226740,28596.952840,29343.631580,29902.51870,30542.057430,31812.498760,32918.556570,33814.114540,35754.547610,36778.01064,37718.284830,37713.337500,39170.03225,40572.26448,45106.41668,49746.38939,52584.72681,51769.03029,53067.72464,56183.82162,57849.57204,60108.52002,61902.12954,63938.98939,64323.92524,66395.85634,68060.94105

In [20]:
GDP.columns

Index(['Country ', 'Country Code', '1990', '1991', '1992', '1993', '1994',
       '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003',
       '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012',
       '2013', '2014', '2015', '2016', '2017', '2018'],
      dtype='object')

In [21]:
#melt GDP
GDP_clean = pd.melt(GDP, id_vars = ['Country ', 'Country Code'], 
        value_vars = [str(i) for i in range(1990,2019)])
GDP_clean

           Country  Country Code variable         value
0         Argentina          ARG     1990   7380.115031
1         Australia          AUS     1990  17329.706610
2            Brazil          BRA     1990   6710.964526
3            Canada          CAN     1990  20173.935650
4       Switzerland          CHE     1990  27594.632050
...             ...          ...      ...           ...
1039        Ukraine          UKR     2018   9249.462135
1040  United States          USA     2018  62794.585650
1041        Vietnam          VNM     2018   7447.814334
1042          World          WLD     2018  17948.417040
1043   South Africa          ZAF     2018  13686.882360

[1044 rows x 4 columns]

In [22]:
GDP_clean = GDP_clean.rename({'Country ': 'Country Name', 'variable':'Year', 'value':'GDP per Capita PPP'}, axis=1)
GDP_clean = GDP_clean.sort_values(by =['Country Code', 'Year']).reset_index().drop(['index'], axis=1)
GDP_clean

      Country Name Country Code  Year  GDP per Capita PPP
0        Argentina          ARG  1990         7380.115031
1        Argentina          ARG  1991         8210.643432
2        Argentina          ARG  1992         8942.569853
3        Argentina          ARG  1993         9777.214005
4        Argentina          ARG  1994        10435.910770
...            ...          ...   ...                 ...
1039  South Africa          ZAF  2014        13090.476830
1040  South Africa          ZAF  2015        13185.253280
1041  South Africa          ZAF  2016        13188.029620
1042  South Africa          ZAF  2017        13438.282890
1043  South Africa          ZAF  2018        13686.882360

[1044 rows x 4 columns]

In [23]:
#remove rows where COUNTRY CODE = WLD 
WLD = ['WLD']

In [24]:
GDP_clean = GDP_clean[GDP_clean['Country Code'].isin(WLD) == False]

In [25]:
GDP_clean = GDP_clean.reset_index().drop(['index'], axis=1)
GDP_clean

      Country Name Country Code  Year  GDP per Capita PPP
0        Argentina          ARG  1990         7380.115031
1        Argentina          ARG  1991         8210.643432
2        Argentina          ARG  1992         8942.569853
3        Argentina          ARG  1993         9777.214005
4        Argentina          ARG  1994        10435.910770
...            ...          ...   ...                 ...
1010  South Africa          ZAF  2014        13090.476830
1011  South Africa          ZAF  2015        13185.253280
1012  South Africa          ZAF  2016        13188.029620
1013  South Africa          ZAF  2017        13438.282890
1014  South Africa          ZAF  2018        13686.882360

[1015 rows x 4 columns]

In [26]:
GDP_clean['Country Code'].unique()

array(['ARG', 'AUS', 'BRA', 'CAN', 'CHE', 'CHL', 'CHN', 'COL', 'EGY',
       'ETH', 'GBR', 'IDN', 'IND', 'IRN', 'ISR', 'JPN', 'KAZ', 'KOR',
       'MEX', 'MYS', 'NGA', 'NOR', 'NZL', 'PAK', 'PER', 'PHL', 'PRY',
       'RUS', 'SAU', 'THA', 'TUR', 'UKR', 'USA', 'VNM', 'ZAF'],
      dtype=object)

In [27]:
#GDP_clean.to_csv('/Users/nicholaslandi/Desktop/DataVizCode/GDP_clean.csv', index=False)  #convert to clean CSV

In [28]:
#print(len(country_pop))
#print(len(KG_CAP.LOCATION.unique()))

In [29]:
#country_pop['Country Code'].unique()

In [30]:
#KG_CAP.LOCATION.unique()

In [31]:
#KG_CAP.groupby('LOCATION')['Value'].mean().sort_values(ascending=False)
#need to account for EU27, BRICS, OECD

In [32]:
#KG_CAP['LOCATION'].value_counts()

In [33]:
#KG_CAP['SUBJECT'].value_counts()

In [34]:
KG_CAP.dtypes

LOCATION     object
SUBJECT      object
MEASURE      object
TIME          int64
Value       float64
dtype: object

In [35]:
KG_CAP['TIME'] = KG_CAP['TIME'].astype(str)

In [36]:
KG_CAP.dtypes

LOCATION     object
SUBJECT      object
MEASURE      object
TIME         object
Value       float64
dtype: object

In [37]:
KG_CAP.head()

  LOCATION SUBJECT MEASURE  TIME      Value
0      AUS    BEEF  KG_CAP  1990   0.000004
1      AUS    BEEF  KG_CAP  1991  27.808401
2      AUS    BEEF  KG_CAP  1992  26.278166
3      AUS    BEEF  KG_CAP  1993  26.244478
4      AUS    BEEF  KG_CAP  1994  25.541244

In [38]:
KG_CAP = KG_CAP.rename({'LOCATION':'Country Code', 'SUBJECT':'Meat_Type', 'TIME':'Year','Value':'KG_Consumer_Per_Capita'}, axis=1)
KG_CAP = KG_CAP.drop(['MEASURE'], axis=1)
KG_CAP.head()

  Country Code Meat_Type  Year  KG_Consumer_Per_Capita
0          AUS      BEEF  1990                0.000004
1          AUS      BEEF  1991               27.808401
2          AUS      BEEF  1992               26.278166
3          AUS      BEEF  1993               26.244478
4          AUS      BEEF  1994               25.541244

In [39]:
KG_CAP.to_csv('/Users/nicholaslandi/Desktop/DataVizCode/meat_consumption_processed.csv', index=False)

In [40]:
KG_CAP['Year'].unique()

array(['1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997',
       '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021',
       '2022', '2023', '2024', '2025', '2026', '2027', '2028'],
      dtype=object)

In [41]:
country_pop_clean.head()
country_pop_clean['Year'].unique()

array(['1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997',
       '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013'],
      dtype=object)

In [42]:
GDP_clean.head()
GDP_clean['Year'].unique()

array(['1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997',
       '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018'], dtype=object)

In [43]:
#subset each data set so they only go to 2013

invalid_years = ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021',
       '2022', '2023', '2024', '2025', '2026', '2027', '2028']

#drop rows that contain any value in the list
KG_CAP = KG_CAP[KG_CAP.Year.isin(invalid_years) == False].reset_index().drop(['index'], axis=1)

GDP_clean = GDP_clean[GDP_clean.Year.isin(invalid_years) == False].reset_index().drop(['index'], axis=1)

In [44]:
merged_data = pd.merge(KG_CAP, country_pop_clean, on=['Country Code', 'Year'], how = 'left')
merged_data

,Country Code,Meat_Type,Year,KG_Consumer_Per_Capita,Country Name,Indicator Name,Indicator Code,Population
0,AUS,BEEF,1990,0.000004,Australia,"Population, total",SP.POP.TOTL,17065100.0
1,AUS,BEEF,1991,27.808401,Australia,"Population, total",SP.POP.TOTL,17284000.0
2,AUS,BEEF,1992,26.278166,Australia,"Population, total",SP.POP.TOTL,17495000.0
3,AUS,BEEF,1993,26.244478,Australia,"Population, total",SP.POP.TOTL,17667000.0
4,AUS,BEEF,1994,25.541244,Australia,"Population, total",SP.POP.TOTL,17855000.0
...,...,...,...,...,...,...,...,...
3327,GBR,SHEEP,2009,4.915320,United Kingdom,"Population, total",SP.POP.TOTL,62276270.0
3328,GBR,SHEEP,2010,4.352106,United Kingdom,"Population, total",SP.POP.TOTL,62766365.0
3329,GBR,SHEEP,2011,4.123211,United Kingdom,"Population, total",SP.POP.TOTL,63258918.0
3330,GBR,SHEEP,2012,3.880044,United Kingdom,"Population, total",SP.POP.TOTL,63700300.0
3331,GBR,SHEEP,2013,4.093783,United Kingdom,"Population, total",SP.POP.TOTL,64106779.0

In [45]:
merged_data = pd.merge(merged_data, GDP_clean, on=['Country Code', 'Year'], how = 'left')
merged_data

,Country Code,Meat_Type,Year,KG_Consumer_Per_Capita,Country Name_x,Indicator Name,Indicator Code,Population,Country Name_y,GDP per Capita PPP
0,AUS,BEEF,1990,0.000004,Australia,"Population, total",SP.POP.TOTL,17065100.0,Australia,17329.70661
1,AUS,BEEF,1991,27.808401,Australia,"Population, total",SP.POP.TOTL,17284000.0,Australia,17790.98014
2,AUS,BEEF,1992,26.278166,Australia,"Population, total",SP.POP.TOTL,17495000.0,Australia,18189.37874
3,AUS,BEEF,1993,26.244478,Australia,"Population, total",SP.POP.TOTL,17667000.0,Australia,19131.84187
4,AUS,BEEF,1994,25.541244,Australia,"Population, total",SP.POP.TOTL,17855000.0,Australia,20064.45901
...,...,...,...,...,...,...,...,...,...,...
3327,GBR,SHEEP,2009,4.915320,United Kingdom,"Population, total",SP.POP.TOTL,62276270.0,United Kingdom,35003.49742
3328,GBR,SHEEP,2010,4.352106,United Kingdom,"Population, total",SP.POP.TOTL,62766365.0,United Kingdom,36340.73387
3329,GBR,SHEEP,2011,4.123211,United Kingdom,"Population, total",SP.POP.TOTL,63258918.0,United Kingdom,37161.49069
3330,GBR,SHEEP,2012,3.880044,United Kingdom,"Population, total",SP.POP.TOTL,63700300.0,United Kingdom,38311.84608
3331,GBR,SHEEP,2013,4.093783,United Kingdom,"Population, total",SP.POP.TOTL,64106779.0,United Kingdom,39971.02536

In [46]:
#merged_data.to_csv('/Users/nicholaslandi/Desktop/DataVizCode/meat_merged_final.csv', index=False)

## Working with GHG Emissions

In [47]:
GHG = pd.read_csv('ghg-emissions.csv')
GHG.head() #subset only relevant columns, convert to long format and combine with KG_CAP table

,Country/Region,unit,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,China,MtCO2e,2873.71,3023.38,3154.54,3377.79,3528.81,3918.30,3954.75,3963.61,4103.23,4053.37,4249.70,4459.91,4769.03,5386.89,6135.95,6862.81,7547.54,8165.43,8455.65,9046.19,9872.37,10364.83,10690.04,11144.76,11155.76,11149.68,11207.66,11408.26,11705.81
1,United States,MtCO2e,5543.47,5501.92,5583.80,5691.26,5782.20,5843.90,6010.62,6258.47,6293.80,6291.25,6446.20,6406.04,6246.95,6306.12,6387.22,6401.12,6306.81,6397.67,6220.21,5793.66,6041.59,5796.78,5550.87,5690.79,5711.15,5586.69,5676.92,5613.64,5794.35
2,India,MtCO2e,1009.44,1064.49,1096.71,1128.44,1174.78,1240.44,1289.63,1348.09,1382.26,1460.24,1498.20,1747.49,1769.79,1817.42,1905.13,1977.76,2073.67,2219.62,2317.48,2467.78,2576.93,2610.32,2758.53,2816.49,2988.34,3002.17,3073.24,3202.82,3346.63
3,Russia,MtCO2e,2885.12,2788.70,2551.94,2294.62,2011.47,1930.88,1889.18,1755.59,1740.23,1772.68,1831.09,1455.44,1477.17,1556.63,1601.63,1608.10,1682.12,1690.16,1727.25,1575.54,1690.93,1864.86,1886.41,1844.48,1841.26,1791.21,1918.26,1939.26,1992.08
4,Indonesia,MtCO2e,1257.10,1274.43,1295.01,1311.27,1327.87,1360.88,1179.00,2142.82,1373.56,1261.56,1191.82,1019.35,1500.98,1167.69,1517.02,1242.70,1655.23,1100.24,1087.94,1483.61,1125.25,1675.72,1695.27,1636.17,2016.28,2070.24,1453.23,1466.05,1703.86

In [48]:
GHG.unit.value_counts()

MtCO2e                                                                                                                            193
Countries/Regions: World. Sectors/Subsectors: Total including LUCF. Gases: All GHG. Calculation: Total. Show data by Countries      1
CAIT                                                                                                                                1
Name: unit, dtype: int64

In [49]:
#subset MtCO2e rows
GHG = GHG.loc[GHG['unit'] == 'MtCO2e'].reset_index().drop(['index'], axis=1)
GHG

,Country/Region,unit,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,China,MtCO2e,2873.71,3023.38,3154.54,3377.79,3528.81,3918.30,3954.75,3963.61,4103.23,4053.37,4249.70,4459.91,4769.03,5386.89,6135.95,6862.81,7547.54,8165.43,8455.65,9046.19,9872.37,10364.83,10690.04,11144.76,11155.76,11149.68,11207.66,11408.26,11705.81
1,United States,MtCO2e,5543.47,5501.92,5583.80,5691.26,5782.20,5843.90,6010.62,6258.47,6293.80,6291.25,6446.20,6406.04,6246.95,6306.12,6387.22,6401.12,6306.81,6397.67,6220.21,5793.66,6041.59,5796.78,5550.87,5690.79,5711.15,5586.69,5676.92,5613.64,5794.35
2,India,MtCO2e,1009.44,1064.49,1096.71,1128.44,1174.78,1240.44,1289.63,1348.09,1382.26,1460.24,1498.20,1747.49,1769.79,1817.42,1905.13,1977.76,2073.67,2219.62,2317.48,2467.78,2576.93,2610.32,2758.53,2816.49,2988.34,3002.17,3073.24,3202.82,3346.63
3,Russia,MtCO2e,2885.12,2788.70,2551.94,2294.62,2011.47,1930.88,1889.18,1755.59,1740.23,1772.68,1831.09,1455.44,1477.17,1556.63,1601.63,1608.10,1682.12,1690.16,1727.25,1575.54,1690.93,1864.86,1886.41,1844.48,1841.26,1791.21,1918.26,1939.26,1992.08
4,Indonesia,MtCO2e,1257.10,1274.43,1295.01,1311.27,1327.87,1360.88,1179.00,2142.82,1373.56,1261.56,1191.82,1019.35,1500.98,1167.69,1517.02,1242.70,1655.23,1100.24,1087.94,1483.61,1125.25,1675.72,1695.27,1636.17,2016.28,2070.24,1453.23,1466.05,1703.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,Kiribati,MtCO2e,0.04,0.04,0.04,0.05,0.04,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.06,0.07,0.08,0.09,0.10,0.08,0.09,0.08,0.08,0.08,0.08,0.09,0.09,0.09,0.10,0.10,0.11
189,Cook Islands,MtCO2e,0.03,0.03,0.03,0.03,0.03,0.04,0.04,0.05,0.05,0.05,0.04,0.06,0.05,0.06,0.06,0.07,0.07,0.07,0.07,0.07,0.07,0.08,0.08,0.08,0.08,0.08,0.09,0.09,0.10
190,Nauru,MtCO2e,0.13,0.13,0.13,0.12,0.12,0.11,0.11,0.11,0.11,0.10,0.09,0.09,0.08,0.08,0.07,0.08,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.06,0.06,0.07,0.07,0.08
191,Tuvalu,MtCO2e,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.03,0.03
192,Niue,MtCO2e,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.00,0.00,0.00,0.01,0.01,0.01,0.01,0.01

In [50]:
#drop year columns 2014-2018
GHG = GHG.drop(['2014', '2015', '2016', '2017', '2018'], axis=1)
GHG.head()

,Country/Region,unit,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,China,MtCO2e,2873.71,3023.38,3154.54,3377.79,3528.81,3918.30,3954.75,3963.61,4103.23,4053.37,4249.70,4459.91,4769.03,5386.89,6135.95,6862.81,7547.54,8165.43,8455.65,9046.19,9872.37,10364.83,10690.04,11144.76
1,United States,MtCO2e,5543.47,5501.92,5583.80,5691.26,5782.20,5843.90,6010.62,6258.47,6293.80,6291.25,6446.20,6406.04,6246.95,6306.12,6387.22,6401.12,6306.81,6397.67,6220.21,5793.66,6041.59,5796.78,5550.87,5690.79
2,India,MtCO2e,1009.44,1064.49,1096.71,1128.44,1174.78,1240.44,1289.63,1348.09,1382.26,1460.24,1498.20,1747.49,1769.79,1817.42,1905.13,1977.76,2073.67,2219.62,2317.48,2467.78,2576.93,2610.32,2758.53,2816.49
3,Russia,MtCO2e,2885.12,2788.70,2551.94,2294.62,2011.47,1930.88,1889.18,1755.59,1740.23,1772.68,1831.09,1455.44,1477.17,1556.63,1601.63,1608.10,1682.12,1690.16,1727.25,1575.54,1690.93,1864.86,1886.41,1844.48
4,Indonesia,MtCO2e,1257.10,1274.43,1295.01,1311.27,1327.87,1360.88,1179.00,2142.82,1373.56,1261.56,1191.82,1019.35,1500.98,1167.69,1517.02,1242.70,1655.23,1100.24,1087.94,1483.61,1125.25,1675.72,1695.27,1636.17

In [51]:
#rename columns
GHG = GHG.rename({'Country/Region': 'Country Name', 'unit':'Unit'}, axis=1)

In [52]:
GHG.head()

,Country Name,Unit,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,China,MtCO2e,2873.71,3023.38,3154.54,3377.79,3528.81,3918.30,3954.75,3963.61,4103.23,4053.37,4249.70,4459.91,4769.03,5386.89,6135.95,6862.81,7547.54,8165.43,8455.65,9046.19,9872.37,10364.83,10690.04,11144.76
1,United States,MtCO2e,5543.47,5501.92,5583.80,5691.26,5782.20,5843.90,6010.62,6258.47,6293.80,6291.25,6446.20,6406.04,6246.95,6306.12,6387.22,6401.12,6306.81,6397.67,6220.21,5793.66,6041.59,5796.78,5550.87,5690.79
2,India,MtCO2e,1009.44,1064.49,1096.71,1128.44,1174.78,1240.44,1289.63,1348.09,1382.26,1460.24,1498.20,1747.49,1769.79,1817.42,1905.13,1977.76,2073.67,2219.62,2317.48,2467.78,2576.93,2610.32,2758.53,2816.49
3,Russia,MtCO2e,2885.12,2788.70,2551.94,2294.62,2011.47,1930.88,1889.18,1755.59,1740.23,1772.68,1831.09,1455.44,1477.17,1556.63,1601.63,1608.10,1682.12,1690.16,1727.25,1575.54,1690.93,1864.86,1886.41,1844.48
4,Indonesia,MtCO2e,1257.10,1274.43,1295.01,1311.27,1327.87,1360.88,1179.00,2142.82,1373.56,1261.56,1191.82,1019.35,1500.98,1167.69,1517.02,1242.70,1655.23,1100.24,1087.94,1483.61,1125.25,1675.72,1695.27,1636.17

In [53]:
GHG['Country Name'].unique()

array(['China', 'United States', 'India', 'Russia', 'Indonesia', 'Brazil',
       'Japan', 'Iran', 'Germany', 'Canada', 'Mexico',
       'Democratic Republic of the Congo', 'South Korea', 'Saudi Arabia',
       'Australia', 'South Africa', 'Turkey', 'United Kingdom',
       'Pakistan', 'Thailand', 'Argentina', 'Malaysia', 'Italy',
       'Vietnam', 'France', 'Nigeria', 'Poland', 'Egypt', 'Spain',
       'Venezuela', 'Kazakhstan', 'Colombia', 'United Arab Emirates',
       'Ukraine', 'Philippines', 'Uzbekistan', 'Myanmar', 'Bangladesh',
       'Algeria', 'Iraq', 'Ethiopia', 'Peru', 'Netherlands', 'Tanzania',
       'Sudan', 'Bolivia', 'Turkmenistan', 'Angola', 'Cameroon',
       'Zimbabwe', 'Czech Republic', 'Kuwait', 'Mozambique', 'Belgium',
       'Chad', 'Libya', 'Qatar', 'Afghanistan', 'Paraguay', 'Zambia',
       'Morocco', 'Ecuador', 'Israel', 'Central African Republic',
       'Greece', 'Romania', 'Oman', 'Azerbaijan', 'Kenya', 'New Zealand',
       'Uganda', 'Cambodia', 'South Sudan', 'Austria', 'Portugal',
       'Belarus', 'Singapore', 'Papua New Guinea', 'Hungary', 'Serbia',
       'Ireland', 'Finland', 'Botswana', 'Mongolia', 'Burkina Faso',
       'Nepal', 'Chile', "Côte d'Ivoire", 'Bahrain', 'Denmark',
       'Solomon Islands', 'Syria', 'Niger', 'North Korea', 'Somalia',
       'Switzerland', 'Mali', 'Madagascar', 'Guinea', 'Slovakia', 'Cuba',
       'Guatemala', 'Nicaragua', 'Laos', 'Dominican Republic', 'Tunisia',
       'Sri Lanka', 'Jordan', 'Uruguay', 'Senegal', 'Lebanon', 'Sweden',
       'Norway', 'Honduras', 'Benin', 'Malawi', 'Bosnia and Herzegovina',
       'Equatorial Guinea', 'Trinidad and Tobago', 'Liberia', 'Namibia',
       'Panama', 'Yemen', 'Estonia', 'Republic of Congo', 'Ghana',
       'Bulgaria', 'Guyana', 'Lithuania', 'Croatia', 'Slovenia', 'Brunei',
       'Georgia', 'Tajikistan', 'Kyrgyzstan', 'Gabon', 'El Salvador',
       'Moldova', 'Suriname', 'Mauritania', 'Sierra Leone', 'Haiti',
       'Macedonia', 'Jamaica', 'Luxembourg', 'Albania', 'Armenia', 'Togo',
       'Burundi', 'Latvia', 'Costa Rica', 'Cyprus', 'Eritrea', 'Rwanda',
       'Belize', 'Mauritius', 'Timor-Leste', 'Lesotho', 'Guinea-Bissau',
       'Montenegro', 'Barbados', 'Iceland', 'Gambia', 'Eswatini',
       'Bahamas', 'Maldives', 'Grenada', 'Malta', 'Djibouti',
       'Antigua and Barbuda', 'Bhutan', 'Vanuatu', 'Samoa', 'Seychelles',
       'Cape Verde', 'Comoros', 'Saint Lucia', 'Andorra',
       'Sao Tome and Principe', 'Saint Kitts and Nevis',
       'Saint Vincent and the Grenadines', 'Tonga', 'Palau', 'Fiji',
       'Micronesia', 'Marshall Islands', 'Dominica', 'Liechtenstein',
       'Kiribati', 'Cook Islands', 'Nauru', 'Tuvalu', 'Niue'],
      dtype=object)

In [54]:
merged_data['Country Name_x'].unique()

array(['Australia', 'Canada', 'Japan', 'Korea, Rep.', 'Mexico',
       'New Zealand', 'Turkey', 'United States', 'Argentina', 'Brazil',
       'Chile', 'China', 'Colombia', 'Egypt, Arab Rep.', 'Ethiopia',
       'India', 'Indonesia', 'Iran, Islamic Rep.', 'Israel', 'Kazakhstan',
       'Malaysia', 'Nigeria', 'Pakistan', 'Paraguay', 'Peru',
       'Philippines', 'Russian Federation', 'Saudi Arabia',
       'South Africa', 'Thailand', 'Ukraine', 'Vietnam', 'Norway',
       'Switzerland', 'United Kingdom'], dtype=object)

In [55]:
GHG_countries = ['China', 'United States', 'India', 'Russia', 'Indonesia', 'Brazil',
       'Japan', 'Iran', 'Germany', 'Canada', 'Mexico',
       'Democratic Republic of the Congo', 'South Korea', 'Saudi Arabia',
       'Australia', 'South Africa', 'Turkey', 'United Kingdom',
       'Pakistan', 'Thailand', 'Argentina', 'Malaysia', 'Italy',
       'Vietnam', 'France', 'Nigeria', 'Poland', 'Egypt', 'Spain',
       'Venezuela', 'Kazakhstan', 'Colombia', 'United Arab Emirates',
       'Ukraine', 'Philippines', 'Uzbekistan', 'Myanmar', 'Bangladesh',
       'Algeria', 'Iraq', 'Ethiopia', 'Peru', 'Netherlands', 'Tanzania',
       'Sudan', 'Bolivia', 'Turkmenistan', 'Angola', 'Cameroon',
       'Zimbabwe', 'Czech Republic', 'Kuwait', 'Mozambique', 'Belgium',
       'Chad', 'Libya', 'Qatar', 'Afghanistan', 'Paraguay', 'Zambia',
       'Morocco', 'Ecuador', 'Israel', 'Central African Republic',
       'Greece', 'Romania', 'Oman', 'Azerbaijan', 'Kenya', 'New Zealand',
       'Uganda', 'Cambodia', 'South Sudan', 'Austria', 'Portugal',
       'Belarus', 'Singapore', 'Papua New Guinea', 'Hungary', 'Serbia',
       'Ireland', 'Finland', 'Botswana', 'Mongolia', 'Burkina Faso',
       'Nepal', 'Chile', "Côte d'Ivoire", 'Bahrain', 'Denmark',
       'Solomon Islands', 'Syria', 'Niger', 'North Korea', 'Somalia',
       'Switzerland', 'Mali', 'Madagascar', 'Guinea', 'Slovakia', 'Cuba',
       'Guatemala', 'Nicaragua', 'Laos', 'Dominican Republic', 'Tunisia',
       'Sri Lanka', 'Jordan', 'Uruguay', 'Senegal', 'Lebanon', 'Sweden',
       'Norway', 'Honduras', 'Benin', 'Malawi', 'Bosnia and Herzegovina',
       'Equatorial Guinea', 'Trinidad and Tobago', 'Liberia', 'Namibia',
       'Panama', 'Yemen', 'Estonia', 'Republic of Congo', 'Ghana',
       'Bulgaria', 'Guyana', 'Lithuania', 'Croatia', 'Slovenia', 'Brunei',
       'Georgia', 'Tajikistan', 'Kyrgyzstan', 'Gabon', 'El Salvador',
       'Moldova', 'Suriname', 'Mauritania', 'Sierra Leone', 'Haiti',
       'Macedonia', 'Jamaica', 'Luxembourg', 'Albania', 'Armenia', 'Togo',
       'Burundi', 'Latvia', 'Costa Rica', 'Cyprus', 'Eritrea', 'Rwanda',
       'Belize', 'Mauritius', 'Timor-Leste', 'Lesotho', 'Guinea-Bissau',
       'Montenegro', 'Barbados', 'Iceland', 'Gambia', 'Eswatini',
       'Bahamas', 'Maldives', 'Grenada', 'Malta', 'Djibouti',
       'Antigua and Barbuda', 'Bhutan', 'Vanuatu', 'Samoa', 'Seychelles',
       'Cape Verde', 'Comoros', 'Saint Lucia', 'Andorra',
       'Sao Tome and Principe', 'Saint Kitts and Nevis',
       'Saint Vincent and the Grenadines', 'Tonga', 'Palau', 'Fiji',
       'Micronesia', 'Marshall Islands', 'Dominica', 'Liechtenstein',
       'Kiribati', 'Cook Islands', 'Nauru', 'Tuvalu', 'Niue']

In [56]:
merged_countries = ['Australia', 'Canada', 'Japan', 'Korea, Rep.', 'Mexico',
       'New Zealand', 'Turkey', 'United States', 'Argentina', 'Brazil',
       'Chile', 'China', 'Colombia', 'Egypt, Arab Rep.', 'Ethiopia',
       'India', 'Indonesia', 'Iran, Islamic Rep.', 'Israel', 'Kazakhstan',
       'Malaysia', 'Nigeria', 'Pakistan', 'Paraguay', 'Peru',
       'Philippines', 'Russian Federation', 'Saudi Arabia',
       'South Africa', 'Thailand', 'Ukraine', 'Vietnam', 'Norway',
       'Switzerland', 'United Kingdom']

In [57]:
#check to see which ones need to be renamed 
for i in merged_countries:
    if i not in GHG_countries:
        print(i)

Korea, Rep.
Egypt, Arab Rep.
Iran, Islamic Rep.
Russian Federation

In [58]:
#replace row values in GHG 
GHG['Country Name'] = GHG['Country Name'].replace({'South Korea':'Korea, Rep.', 'Egypt':'Egypt, Arab Rep.', 'Iran':'Iran, Islamic Rep.', 'Russia':'Russian Federation'})

In [59]:
GHG = GHG[GHG['Country Name'].isin(merged_countries) == True]

In [60]:
print(len(GHG['Country Name'].unique()))
print(len(merged_data['Country Code'].unique()))

35
35

In [61]:
GHG = GHG.reset_index().drop(['index'], axis=1)
GHG

,Country Name,Unit,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,China,MtCO2e,2873.71,3023.38,3154.54,3377.79,3528.81,3918.30,3954.75,3963.61,4103.23,4053.37,4249.70,4459.91,4769.03,5386.89,6135.95,6862.81,7547.54,8165.43,8455.65,9046.19,9872.37,10364.83,10690.04,11144.76
1,United States,MtCO2e,5543.47,5501.92,5583.80,5691.26,5782.20,5843.90,6010.62,6258.47,6293.80,6291.25,6446.20,6406.04,6246.95,6306.12,6387.22,6401.12,6306.81,6397.67,6220.21,5793.66,6041.59,5796.78,5550.87,5690.79
2,India,MtCO2e,1009.44,1064.49,1096.71,1128.44,1174.78,1240.44,1289.63,1348.09,1382.26,1460.24,1498.20,1747.49,1769.79,1817.42,1905.13,1977.76,2073.67,2219.62,2317.48,2467.78,2576.93,2610.32,2758.53,2816.49
3,Russian Federation,MtCO2e,2885.12,2788.70,2551.94,2294.62,2011.47,1930.88,1889.18,1755.59,1740.23,1772.68,1831.09,1455.44,1477.17,1556.63,1601.63,1608.10,1682.12,1690.16,1727.25,1575.54,1690.93,1864.86,1886.41,1844.48
4,Indonesia,MtCO2e,1257.10,1274.43,1295.01,1311.27,1327.87,1360.88,1179.00,2142.82,1373.56,1261.56,1191.82,1019.35,1500.98,1167.69,1517.02,1242.70,1655.23,1100.24,1087.94,1483.61,1125.25,1675.72,1695.27,1636.17
5,Brazil,MtCO2e,1642.29,1669.56,1679.50,1689.70,1706.03,1726.08,1735.71,1766.32,1800.62,1810.51,1807.03,1901.78,1935.36,1948.37,1995.86,2004.36,1994.55,2029.48,2030.84,2008.85,2104.61,1270.59,1311.58,1335.02
6,Japan,MtCO2e,1109.37,1123.86,1137.15,1129.63,1186.79,1201.85,1215.95,1203.81,1156.66,1182.31,1198.54,1153.99,1185.65,1193.40,1185.28,1186.26,1164.29,1200.21,1133.32,1073.57,1130.13,1235.29,1277.48,1289.00
7,"Iran, Islamic Rep.",MtCO2e,240.54,280.88,301.84,300.14,332.67,349.89,364.14,381.58,389.67,427.53,446.36,439.25,463.93,493.23,530.16,569.00,617.12,655.51,669.06,693.31,699.33,750.70,761.05,781.95
8,Canada,MtCO2e,626.36,622.29,638.22,636.25,656.82,672.53,696.88,709.57,726.10,723.75,739.69,962.37,981.04,1000.48,995.19,1006.64,992.64,1023.93,999.57,962.46,975.84,825.24,830.07,841.21
9,Mexico,MtCO2e,417.45,435.45,438.32,458.00,483.60,464.60,490.56,518.59,554.43,533.02,559.46,463.07,469.03,492.69,497.06,521.72,543.90,565.29,595.78,580.11,584.23,680.75,674.16,668.85
10,"Korea, Rep.",MtCO2e,244.25,269.59,294.15,325.01,352.61,384.99,412.92,438.77,373.96,411.82,469.38,468.43,461.26,469.14,493.24,488.66,496.96,505.75,519.83,533.49,586.31,620.34,624.83,624.54
11,Saudi Arabia,MtCO2e,190.64,212.83,227.52,235.98,250.09,255.07,269.71,253.57,271.90,278.67,291.54,297.91,318.25,331.54,349.93,366.49,389.51,412.59,450.11,470.78,514.56,534.21,568.10,585.81
12,Australia,MtCO2e,558.21,558.13,560.30,559.98,563.06,571.19,571.01,582.28,608.08,643.60,661.97,665.72,660.75,583.65,635.50,598.44,646.91,646.46,617.09,633.80,601.14,644.74,643.12,555.26
13,South Africa,MtCO2e,319.52,315.46,312.42,320.86,326.81,337.33,347.87,361.36,368.91,347.85,351.05,384.62,400.28,421.83,449.33,449.65,452.00,472.37,504.10,483.46,506.27,490.65,509.55,519.44
14,Turkey,MtCO2e,189.27,191.74,199.22,205.73,200.92,215.50,233.26,242.39,243.59,243.49,267.48,219.28,229.56,241.45,247.73,260.27,289.65,319.59,318.18,321.60,331.37,337.24,351.35,342.57
15,United Kingdom,MtCO2e,746.40,761.64,739.51,722.61,711.75,702.55,722.68,701.07,697.42,671.25,673.87,684.64,666.82,674.47,669.83,663.91,661.01,645.52,625.56,570.73,583.60,540.98,562.45,543.71
16,Pakistan,MtCO2e,166.50,167.45,176.65,186.47,193.14,203.61,210.65,217.56,221.37,233.94,236.06,238.30,244.71,252.54,269.49,277.77,297.16,313.94,316.90,327.27,321.54,328.63,332.43,342.88
17,Thailand,MtCO2e,174.02,186.02,197.92,214.03,228.84,247.92,268.47,275.67,257.40,267.19,268.47,233.70,245.95,259.15,281.87,287.81,291.25,306.56,310.02,309.61,329.44,363.65,386.03,397.19
18,Argentina,MtCO2e,288.37,293.36,297.76,300.27,305.35,305.93,319.81,322.34,326.15,332.24,331.14,372.45,369.30,391.04,406.44,410.92,425.42,438.82,442.98,424.07,429.81,410.64,414.84,424.70
19,Malaysia,MtCO2e,207.11,214.67,221.40,224.79,231.70,239.11,247.37,257.86,288.83,267.24,278.87,270.24,288.90,298.20,322.76,336.40,332.30,357.03,368.36,366.72,379.15,155.60,155.92,174.34
20,Vietnam,MtCO2e,1.17,4.03,6.54,13.23,18.85,25.03,32.87,40.65,51.84,55.08,63.11,157.92,174.91,180.26,198.37,207.64,213.22,227.29,237.99,259.62,277.74,235.82,236.38,248.78
21,Nigeria,MtCO2e,249.87,260.06,272.23,272.12,270.78,265.37,276.14,266.82,258.68,249.74,247.07,248.44,252.94,260.59,264.22,281.19,276.10,274.16,277.10,258.87,281.15,299.26,303.64,318.11
22,"Egypt, Arab Rep.",MtCO2e,129.43,135.07,140.18,142.45,138.13,147.11,154.53,163.95,170.77,179.61,180.91,193.53,198.41,202.70,215.91,233.90,244.52,259.61,268.73,274.79,276.27,284.10,294.89,292.15
23,Kazakhstan,MtCO2e,308.25,318.28,319.10,277.48,252.51,220.83,192.78,164.97,164.26,148.12,147.35,147.08,164.14,175.32,192.35,204.78,226.14,234.21,280.62,249.71,275.78,284.28,284.28,297.58
24,Colombia,MtCO2e,217.08,218.85,222.51,226.53,228.62,231.69,232.23,237.26,239.00,228.71,233.07,222.71,221.71,223.94,226.33,228.35,229.66,235.52,236.44,240.51,244.95,223.50,221.94,228.65
25,Ukraine,MtCO2e,873.70,828.09,735.92,646.85,551.55,521.01,459.23,434.81,406.96,403.27,385.01,408.37,411.04,441.53,406.48,387.71,393.04,401.26,387.22,327.37,345.37,376.94,364.85,353.90
26,Philippines,MtCO2e,98.21,98.27,100.41,105.92,113.69,125.88,134.83,143.44,137.30,142.90,144.82,144.28,145.99,149.12,152.88,154.20,147.22,152.77,155.97,157.97,163.75,165.75,170.90,182.28
27,Ethiopia,MtCO2e,94.10,95.87,98.40,93.88,96.28,98.44,102.16,107.08,113.73,115.50,112.72,119.19,128.94,127.60,129.96,133.69,138.98,149.46,154.15,158.63,163.85,166.05,173.67,180.17
28,Peru,MtCO2e,103.85,102.62,103.48,104.65,107.18,111.96,115.54,116.84,117.11,121.44,122.09,125.32,127.36,127.30,131.65,133.19,132.80,136.81,141.47,145.59,149.77,177.04,177.42,178.81
29,Paraguay,MtCO2e,75.16,72.17,71.53,71.75,71.74,73.74,73.70,74.90,75.13,78.31,73.74,89.81,90.05,91.75,89.59,90.96,91.09,94.74,92.51,94.53,97.24,110.36,111.63,113.28
30,Israel,MtCO2e,43.95,45.03,47.82,51.88,55.21,59.03,62.13,65.15,66.52,68.72,73.59,73.50,75.52,76.34,77.43,76.09,80.41,83.61,84.28,83.86,89.32,89.54,96.67,88.51
31,New Zealand,MtCO2e,45.17,44.62,45.48,44.56,46.29,47.55,48.09,50.39,48.89,51.14,51.29,57.05,58.59,61.02,59.66,61.17,61.43,60.14,60.16,57.36,57.14,62.69,64.95,64.53
32,Chile,MtCO2e,30.34,29.62,31.95,33.32,36.84,40.30,46.64,53.95,55.16,57.97,54.22,33.28,34.08,34.93,40.23,40.85,42.17,50.39,55.06,52.36,57.15,18.43,20.68,23.68
33,Switzerland,MtCO2e,51.19,53.40,53.31,50.85,49.97,50.90,51.49,50.03,51.57,51.69,50.89,51.64,49.96,51.15,51.60,52.29,51.99,50.06,51.65,50.18,51.74,47.81,49.04,50.06
34,Norway,MtCO2e,30.91,28.34,28.89,30.74,32.28,31.60,32.45,34.06,35.64,37.58,32.21,25.04,24.51,26.45,26.97,25.72,26.14,26.77,25.29,24.70,29.06,31.17,30.03,29.11

In [62]:
#melt GHG
GHG = pd.melt(GHG, id_vars = ['Country Name', 'Unit'], 
        value_vars = [str(i) for i in range(1990,2014)])
GHG

           Country Name    Unit variable    value
0                 China  MtCO2e     1990  2873.71
1         United States  MtCO2e     1990  5543.47
2                 India  MtCO2e     1990  1009.44
3    Russian Federation  MtCO2e     1990  2885.12
4             Indonesia  MtCO2e     1990  1257.10
..                  ...     ...      ...      ...
835              Israel  MtCO2e     2013    88.51
836         New Zealand  MtCO2e     2013    64.53
837               Chile  MtCO2e     2013    23.68
838         Switzerland  MtCO2e     2013    50.06
839              Norway  MtCO2e     2013    29.11

[840 rows x 4 columns]

In [63]:
GHG = GHG.rename({'Country Name': 'Country Name', 'variable':'Year', 'value':'MtCO2e'}, axis=1)
GHG = GHG.sort_values(by =['Country Name', 'Year']).reset_index().drop(['index', 'Unit'], axis=1)
GHG

    Country Name  Year  MtCO2e
0      Argentina  1990  288.37
1      Argentina  1991  293.36
2      Argentina  1992  297.76
3      Argentina  1993  300.27
4      Argentina  1994  305.35
..           ...   ...     ...
835      Vietnam  2009  259.62
836      Vietnam  2010  277.74
837      Vietnam  2011  235.82
838      Vietnam  2012  236.38
839      Vietnam  2013  248.78

[840 rows x 3 columns]

In [64]:
merged_data.head()

,Country Code,Meat_Type,Year,KG_Consumer_Per_Capita,Country Name_x,Indicator Name,Indicator Code,Population,Country Name_y,GDP per Capita PPP
0,AUS,BEEF,1990,0.000004,Australia,"Population, total",SP.POP.TOTL,17065100.0,Australia,17329.70661
1,AUS,BEEF,1991,27.808401,Australia,"Population, total",SP.POP.TOTL,17284000.0,Australia,17790.98014
2,AUS,BEEF,1992,26.278166,Australia,"Population, total",SP.POP.TOTL,17495000.0,Australia,18189.37874
3,AUS,BEEF,1993,26.244478,Australia,"Population, total",SP.POP.TOTL,17667000.0,Australia,19131.84187
4,AUS,BEEF,1994,25.541244,Australia,"Population, total",SP.POP.TOTL,17855000.0,Australia,20064.45901

In [65]:
merged_data = merged_data.drop(['Country Name_y'], axis=1)
merged_data

,Country Code,Meat_Type,Year,KG_Consumer_Per_Capita,Country Name_x,Indicator Name,Indicator Code,Population,GDP per Capita PPP
0,AUS,BEEF,1990,0.000004,Australia,"Population, total",SP.POP.TOTL,17065100.0,17329.70661
1,AUS,BEEF,1991,27.808401,Australia,"Population, total",SP.POP.TOTL,17284000.0,17790.98014
2,AUS,BEEF,1992,26.278166,Australia,"Population, total",SP.POP.TOTL,17495000.0,18189.37874
3,AUS,BEEF,1993,26.244478,Australia,"Population, total",SP.POP.TOTL,17667000.0,19131.84187
4,AUS,BEEF,1994,25.541244,Australia,"Population, total",SP.POP.TOTL,17855000.0,20064.45901
...,...,...,...,...,...,...,...,...,...
3327,GBR,SHEEP,2009,4.915320,United Kingdom,"Population, total",SP.POP.TOTL,62276270.0,35003.49742
3328,GBR,SHEEP,2010,4.352106,United Kingdom,"Population, total",SP.POP.TOTL,62766365.0,36340.73387
3329,GBR,SHEEP,2011,4.123211,United Kingdom,"Population, total",SP.POP.TOTL,63258918.0,37161.49069
3330,GBR,SHEEP,2012,3.880044,United Kingdom,"Population, total",SP.POP.TOTL,63700300.0,38311.84608
3331,GBR,SHEEP,2013,4.093783,United Kingdom,"Population, total",SP.POP.TOTL,64106779.0,39971.02536

In [66]:
merged_data = merged_data.rename({'Country Name_x': 'Country Name'}, axis=1)
merged_data

,Country Code,Meat_Type,Year,KG_Consumer_Per_Capita,Country Name,Indicator Name,Indicator Code,Population,GDP per Capita PPP
0,AUS,BEEF,1990,0.000004,Australia,"Population, total",SP.POP.TOTL,17065100.0,17329.70661
1,AUS,BEEF,1991,27.808401,Australia,"Population, total",SP.POP.TOTL,17284000.0,17790.98014
2,AUS,BEEF,1992,26.278166,Australia,"Population, total",SP.POP.TOTL,17495000.0,18189.37874
3,AUS,BEEF,1993,26.244478,Australia,"Population, total",SP.POP.TOTL,17667000.0,19131.84187
4,AUS,BEEF,1994,25.541244,Australia,"Population, total",SP.POP.TOTL,17855000.0,20064.45901
...,...,...,...,...,...,...,...,...,...
3327,GBR,SHEEP,2009,4.915320,United Kingdom,"Population, total",SP.POP.TOTL,62276270.0,35003.49742
3328,GBR,SHEEP,2010,4.352106,United Kingdom,"Population, total",SP.POP.TOTL,62766365.0,36340.73387
3329,GBR,SHEEP,2011,4.123211,United Kingdom,"Population, total",SP.POP.TOTL,63258918.0,37161.49069
3330,GBR,SHEEP,2012,3.880044,United Kingdom,"Population, total",SP.POP.TOTL,63700300.0,38311.84608
3331,GBR,SHEEP,2013,4.093783,United Kingdom,"Population, total",SP.POP.TOTL,64106779.0,39971.02536

In [67]:
merged_data = pd.merge(merged_data, GHG, on=['Country Name', 'Year'], how = 'left')
merged_data

,Country Code,Meat_Type,Year,KG_Consumer_Per_Capita,Country Name,Indicator Name,Indicator Code,Population,GDP per Capita PPP,MtCO2e
0,AUS,BEEF,1990,0.000004,Australia,"Population, total",SP.POP.TOTL,17065100.0,17329.70661,558.21
1,AUS,BEEF,1991,27.808401,Australia,"Population, total",SP.POP.TOTL,17284000.0,17790.98014,558.13
2,AUS,BEEF,1992,26.278166,Australia,"Population, total",SP.POP.TOTL,17495000.0,18189.37874,560.3
3,AUS,BEEF,1993,26.244478,Australia,"Population, total",SP.POP.TOTL,17667000.0,19131.84187,559.98
4,AUS,BEEF,1994,25.541244,Australia,"Population, total",SP.POP.TOTL,17855000.0,20064.45901,563.06
...,...,...,...,...,...,...,...,...,...,...
3327,GBR,SHEEP,2009,4.915320,United Kingdom,"Population, total",SP.POP.TOTL,62276270.0,35003.49742,570.73
3328,GBR,SHEEP,2010,4.352106,United Kingdom,"Population, total",SP.POP.TOTL,62766365.0,36340.73387,583.6
3329,GBR,SHEEP,2011,4.123211,United Kingdom,"Population, total",SP.POP.TOTL,63258918.0,37161.49069,540.98
3330,GBR,SHEEP,2012,3.880044,United Kingdom,"Population, total",SP.POP.TOTL,63700300.0,38311.84608,562.45
3331,GBR,SHEEP,2013,4.093783,United Kingdom,"Population, total",SP.POP.TOTL,64106779.0,39971.02536,543.71

In [68]:
merged_data.columns

Index(['Country Code', 'Meat_Type', 'Year', 'KG_Consumer_Per_Capita',
       'Country Name', 'Indicator Name', 'Indicator Code', 'Population',
       'GDP per Capita PPP', 'MtCO2e'],
      dtype='object')

In [69]:
merged_data = merged_data.drop(['Indicator Name', 'Indicator Code'], axis=1)
merged_data

,Country Code,Meat_Type,Year,KG_Consumer_Per_Capita,Country Name,Population,GDP per Capita PPP,MtCO2e
0,AUS,BEEF,1990,0.000004,Australia,17065100.0,17329.70661,558.21
1,AUS,BEEF,1991,27.808401,Australia,17284000.0,17790.98014,558.13
2,AUS,BEEF,1992,26.278166,Australia,17495000.0,18189.37874,560.3
3,AUS,BEEF,1993,26.244478,Australia,17667000.0,19131.84187,559.98
4,AUS,BEEF,1994,25.541244,Australia,17855000.0,20064.45901,563.06
...,...,...,...,...,...,...,...,...
3327,GBR,SHEEP,2009,4.915320,United Kingdom,62276270.0,35003.49742,570.73
3328,GBR,SHEEP,2010,4.352106,United Kingdom,62766365.0,36340.73387,583.6
3329,GBR,SHEEP,2011,4.123211,United Kingdom,63258918.0,37161.49069,540.98
3330,GBR,SHEEP,2012,3.880044,United Kingdom,63700300.0,38311.84608,562.45
3331,GBR,SHEEP,2013,4.093783,United Kingdom,64106779.0,39971.02536,543.71

In [70]:
#merged_data.to_csv('/Users/nicholaslandi/Desktop/DataVizCode/meat_merged_emission.csv', index=False)

## WORKING WITH LIFE EXPECTANCY

In [71]:
LIFE = pd.read_csv('life_expectancy.csv')
LIFE.head() #subset only relevant columns, convert to long format and combine with KG_CAP table

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Aruba,ABW,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,65.662,66.074,66.444,66.787,67.113,67.435,67.762,68.095,68.436,68.784,69.140,69.498,69.851,70.191,70.519,70.833,71.140,71.441,71.736,72.023,72.293,72.538,72.751,72.929,73.071,73.181,73.262,73.325,73.378,73.425,73.468,73.509,73.544,73.573,73.598,73.622,73.646,73.671,73.700,73.738,73.787,73.853,73.937,74.038,74.156,74.287,74.429,74.576,74.725,74.872,75.016,75.158,75.299,75.440,75.582,75.725,75.867
1,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,32.292,32.742,33.185,33.624,34.060,34.495,34.928,35.361,35.796,36.234,36.678,37.128,37.587,38.056,38.540,39.039,39.556,40.092,40.650,41.234,41.853,42.513,43.217,43.963,44.747,45.566,46.417,47.288,48.164,49.028,49.856,50.627,51.331,51.968,52.539,53.055,53.533,53.997,54.468,54.959,55.482,56.044,56.637,57.250,57.875,58.500,59.110,59.694,60.243,60.754,61.226,61.666,62.086,62.494,62.895,63.288,63.673
2,Angola,AGO,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,33.251,33.573,33.914,34.272,34.645,35.031,35.426,35.828,36.234,36.640,37.047,37.460,37.878,38.297,38.712,39.110,39.478,39.810,40.099,40.344,40.546,40.710,40.848,40.970,41.085,41.193,41.292,41.382,41.471,41.572,41.696,41.855,42.060,42.329,42.677,43.125,43.695,44.385,45.192,46.105,47.113,48.200,49.341,50.508,51.676,52.833,53.974,55.096,56.189,57.231,58.192,59.042,59.770,60.373,60.858,61.241,61.547
3,Albania,ALB,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,62.279,63.298,64.187,64.911,65.461,65.848,66.108,66.302,66.485,66.687,66.933,67.235,67.580,67.951,68.341,68.734,69.108,69.447,69.741,69.990,70.207,70.416,70.635,70.876,71.134,71.388,71.605,71.760,71.843,71.860,71.836,71.803,71.802,71.860,71.992,72.205,72.495,72.838,73.208,73.588,73.955,74.286,74.575,74.820,75.028,75.217,75.418,75.656,75.943,76.281,76.652,77.031,77.389,77.702,77.963,78.174,78.345
4,Andorra,AND,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
LIFE.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016'],
      dtype='object')

In [73]:
#drop year columns
LIFE = LIFE.drop(['1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '2014', '2015', '2016'], axis=1)
LIFE.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Aruba,ABW,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,73.468,73.509,73.544,73.573,73.598,73.622,73.646,73.671,73.700,73.738,73.787,73.853,73.937,74.038,74.156,74.287,74.429,74.576,74.725,74.872,75.016,75.158,75.299,75.440
1,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,49.856,50.627,51.331,51.968,52.539,53.055,53.533,53.997,54.468,54.959,55.482,56.044,56.637,57.250,57.875,58.500,59.110,59.694,60.243,60.754,61.226,61.666,62.086,62.494
2,Angola,AGO,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,41.696,41.855,42.060,42.329,42.677,43.125,43.695,44.385,45.192,46.105,47.113,48.200,49.341,50.508,51.676,52.833,53.974,55.096,56.189,57.231,58.192,59.042,59.770,60.373
3,Albania,ALB,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,71.836,71.803,71.802,71.860,71.992,72.205,72.495,72.838,73.208,73.588,73.955,74.286,74.575,74.820,75.028,75.217,75.418,75.656,75.943,76.281,76.652,77.031,77.389,77.702
4,Andorra,AND,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
LIFE['Country Code'].unique()

array(['ABW', 'AFG', 'AGO', 'ALB', 'AND', 'ARB', 'ARE', 'ARG', 'ARM',
       'ASM', 'ATG', 'AUS', 'AUT', 'AZE', 'BDI', 'BEL', 'BEN', 'BFA',
       'BGD', 'BGR', 'BHR', 'BHS', 'BIH', 'BLR', 'BLZ', 'BMU', 'BOL',
       'BRA', 'BRB', 'BRN', 'BTN', 'BWA', 'CAF', 'CAN', 'CEB', 'CHE',
       'CHI', 'CHL', 'CHN', 'CIV', 'CMR', 'COD', 'COG', 'COL', 'COM',
       'CPV', 'CRI', 'CSS', 'CUB', 'CUW', 'CYM', 'CYP', 'CZE', 'DEU',
       'DJI', 'DMA', 'DNK', 'DOM', 'DZA', 'EAP', 'EAR', 'EAS', 'ECA',
       'ECS', 'ECU', 'EGY', 'EMU', 'ERI', 'ESP', 'EST', 'ETH', 'EUU',
       'FCS', 'FIN', 'FJI', 'FRA', 'FRO', 'FSM', 'GAB', 'GBR', 'GEO',
       'GHA', 'GIB', 'GIN', 'GMB', 'GNB', 'GNQ', 'GRC', 'GRD', 'GRL',
       'GTM', 'GUM', 'GUY', 'HIC', 'HKG', 'HND', 'HPC', 'HRV', 'HTI',
       'HUN', 'IBD', 'IBT', 'IDA', 'IDB', 'IDN', 'IDX', 'IMN', 'IND',
       'INX', 'IRL', 'IRN', 'IRQ', 'ISL', 'ISR', 'ITA', 'JAM', 'JOR',
       'JPN', 'KAZ', 'KEN', 'KGZ', 'KHM', 'KIR', 'KNA', 'KOR', 'KWT',
       'LAC', 'LAO', 'LBN', 'LBR', 'LBY', 'LCA', 'LCN', 'LDC', 'LIC',
       'LIE', 'LKA', 'LMC', 'LMY', 'LSO', 'LTE', 'LTU', 'LUX', 'LVA',
       'MAC', 'MAF', 'MAR', 'MCO', 'MDA', 'MDG', 'MDV', 'MEA', 'MEX',
       'MHL', 'MIC', 'MKD', 'MLI', 'MLT', 'MMR', 'MNA', 'MNE', 'MNG',
       'MNP', 'MOZ', 'MRT', 'MUS', 'MWI', 'MYS', 'NAC', 'NAM', 'NCL',
       'NER', 'NGA', 'NIC', 'NLD', 'NOR', 'NPL', 'NRU', 'NZL', 'OED',
       'OMN', 'OSS', 'PAK', 'PAN', 'PER', 'PHL', 'PLW', 'PNG', 'POL',
       'PRE', 'PRI', 'PRK', 'PRT', 'PRY', 'PSE', 'PSS', 'PST', 'PYF',
       'QAT', 'ROU', 'RUS', 'RWA', 'SAS', 'SAU', 'SDN', 'SEN', 'SGP',
       'SLB', 'SLE', 'SLV', 'SMR', 'SOM', 'SRB', 'SSA', 'SSD', 'SSF',
       'SST', 'STP', 'SUR', 'SVK', 'SVN', 'SWE', 'SWZ', 'SXM', 'SYC',
       'SYR', 'TCA', 'TCD', 'TEA', 'TEC', 'TGO', 'THA', 'TJK', 'TKM',
       'TLA', 'TLS', 'TMN', 'TON', 'TSA', 'TSS', 'TTO', 'TUN', 'TUR',
       'TUV', 'TZA', 'UGA', 'UKR', 'UMC', 'URY', 'USA', 'UZB', 'VCT',
       'VEN', 'VGB', 'VIR', 'VNM', 'VUT', 'WLD', 'WSM', 'XKX', 'YEM',
       'ZAF', 'ZMB', 'ZWE'], dtype=object)

In [75]:
values2 = list(merged_data['Country Code'].unique())
values2

['AUS',
 'CAN',
 'JPN',
 'KOR',
 'MEX',
 'NZL',
 'TUR',
 'USA',
 'ARG',
 'BRA',
 'CHL',
 'CHN',
 'COL',
 'EGY',
 'ETH',
 'IND',
 'IDN',
 'IRN',
 'ISR',
 'KAZ',
 'MYS',
 'NGA',
 'PAK',
 'PRY',
 'PER',
 'PHL',
 'RUS',
 'SAU',
 'ZAF',
 'THA',
 'UKR',
 'VNM',
 'NOR',
 'CHE',
 'GBR']

In [76]:
LIFE = LIFE[LIFE['Country Code'].isin(values2) == True]

In [77]:
LIFE = LIFE.reset_index().drop(['index'], axis=1)

In [78]:
#melt LIFE
LIFE = pd.melt(LIFE, id_vars = ['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'], 
        value_vars = [str(i) for i in range(1990,2014)])
LIFE

,Country Name,Country Code,Indicator Name,Indicator Code,variable,value
0,Argentina,ARG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1990,71.565000
1,Australia,AUS,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1990,76.994634
2,Brazil,BRA,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1990,65.300000
3,Canada,CAN,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1990,77.377073
4,Switzerland,CHE,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1990,77.242439
...,...,...,...,...,...,...
835,Turkey,TUR,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,2013,74.977000
836,Ukraine,UKR,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,2013,71.159512
837,United States,USA,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,2013,78.741463
838,Vietnam,VNM,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,2013,75.663000
839,South Africa,ZAF,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,2013,59.830000

In [79]:
LIFE = LIFE.rename({'variable':'Year', 'value':'Life Expectancy'}, axis=1)
LIFE = LIFE.sort_values(by =['Country Name', 'Year']).reset_index().drop(['index', 'Indicator Name', 'Indicator Code'], axis=1)
LIFE

    Country Name Country Code  Year  Life Expectancy
0      Argentina          ARG  1990           71.565
1      Argentina          ARG  1991           71.790
2      Argentina          ARG  1992           72.023
3      Argentina          ARG  1993           72.256
4      Argentina          ARG  1994           72.489
..           ...          ...   ...              ...
835      Vietnam          VNM  2009           74.946
836      Vietnam          VNM  2010           75.117
837      Vietnam          VNM  2011           75.294
838      Vietnam          VNM  2012           75.476
839      Vietnam          VNM  2013           75.663

[840 rows x 4 columns]

In [80]:
merged_data = pd.merge(merged_data, LIFE, on=['Country Code', 'Year'], how = 'left')
merged_data

,Country Code,Meat_Type,Year,KG_Consumer_Per_Capita,Country Name_x,Population,GDP per Capita PPP,MtCO2e,Country Name_y,Life Expectancy
0,AUS,BEEF,1990,0.000004,Australia,17065100.0,17329.70661,558.21,Australia,76.994634
1,AUS,BEEF,1991,27.808401,Australia,17284000.0,17790.98014,558.13,Australia,77.275610
2,AUS,BEEF,1992,26.278166,Australia,17495000.0,18189.37874,560.3,Australia,77.378049
3,AUS,BEEF,1993,26.244478,Australia,17667000.0,19131.84187,559.98,Australia,77.878049
4,AUS,BEEF,1994,25.541244,Australia,17855000.0,20064.45901,563.06,Australia,77.878049
...,...,...,...,...,...,...,...,...,...,...
3327,GBR,SHEEP,2009,4.915320,United Kingdom,62276270.0,35003.49742,570.73,United Kingdom,80.051220
3328,GBR,SHEEP,2010,4.352106,United Kingdom,62766365.0,36340.73387,583.6,United Kingdom,80.402439
3329,GBR,SHEEP,2011,4.123211,United Kingdom,63258918.0,37161.49069,540.98,United Kingdom,80.951220
3330,GBR,SHEEP,2012,3.880044,United Kingdom,63700300.0,38311.84608,562.45,United Kingdom,80.904878
3331,GBR,SHEEP,2013,4.093783,United Kingdom,64106779.0,39971.02536,543.71,United Kingdom,81.004878

In [81]:
merged_data = merged_data.drop(['Country Name_y'], axis=1)
merged_data =  merged_data.rename({'Country Name_x': 'Country Name'}, axis=1)
merged_data

,Country Code,Meat_Type,Year,KG_Consumer_Per_Capita,Country Name,Population,GDP per Capita PPP,MtCO2e,Life Expectancy
0,AUS,BEEF,1990,0.000004,Australia,17065100.0,17329.70661,558.21,76.994634
1,AUS,BEEF,1991,27.808401,Australia,17284000.0,17790.98014,558.13,77.275610
2,AUS,BEEF,1992,26.278166,Australia,17495000.0,18189.37874,560.3,77.378049
3,AUS,BEEF,1993,26.244478,Australia,17667000.0,19131.84187,559.98,77.878049
4,AUS,BEEF,1994,25.541244,Australia,17855000.0,20064.45901,563.06,77.878049
...,...,...,...,...,...,...,...,...,...
3327,GBR,SHEEP,2009,4.915320,United Kingdom,62276270.0,35003.49742,570.73,80.051220
3328,GBR,SHEEP,2010,4.352106,United Kingdom,62766365.0,36340.73387,583.6,80.402439
3329,GBR,SHEEP,2011,4.123211,United Kingdom,63258918.0,37161.49069,540.98,80.951220
3330,GBR,SHEEP,2012,3.880044,United Kingdom,63700300.0,38311.84608,562.45,80.904878
3331,GBR,SHEEP,2013,4.093783,United Kingdom,64106779.0,39971.02536,543.71,81.004878

In [82]:
#merged_data.to_csv('/Users/nicholaslandi/Desktop/DataVizCode/meat_merged_emission_life.csv', index=False)

In [83]:
merged_data.columns

Index(['Country Code', 'Meat_Type', 'Year', 'KG_Consumer_Per_Capita',
       'Country Name', 'Population', 'GDP per Capita PPP', 'MtCO2e',
       'Life Expectancy'],
      dtype='object')

In [84]:
merged_data[["Population", "GDP per Capita PPP", "Life Expectancy"]].describe()

         Population  GDP per Capita PPP  Life Expectancy
count  3.332000e+03         3332.000000      3332.000000
mean   1.330311e+08        15209.509274        71.252681
std    2.667105e+08        13109.568556         7.641997
min    3.329800e+06          396.471751        45.841000
25%    2.228313e+07         5443.412266        67.570000
50%    5.728804e+07        10044.190630        72.259000
75%    1.168156e+08        22500.477590        76.994634
max    1.357380e+09        66961.253100        83.331951

In [85]:
merged_data["MtCO2e"].describe()

count     3332.00
unique     828.00
top         73.74
freq         8.00
Name: MtCO2e, dtype: float64

## Health and Nutrition Data

In [86]:
health = pd.read_csv('healthdata.csv')
health.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,Unnamed: 60
0,Arab World,ARB,% of females ages 15-49 having comprehensive c...,SH.HIV.KNOW.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,% of males ages 15-49 having comprehensive cor...,SH.HIV.KNOW.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,133.555013,134.159119,134.857912,134.504576,134.105211,133.569626,132.675635,131.665502,129.19098,126.736756,124.382809,122.133431,120.020186,118.087531,116.132988,114.100918,111.980005,109.783822,106.033489,102.341721,98.739002,95.241251,91.791192,88.001177,84.207256,80.359323,76.441596,72.51458,71.170664,69.888768,69.004413,67.755992,66.928451,64.948968,62.922778,60.70707,58.596631,56.440128,55.53154,54.658781,53.83141,52.901528,51.990793,51.522856,51.10325,50.73259,50.329135,49.999851,49.887046,49.781207,49.672975,49.536047,49.383745,48.796558,48.196418,NaN,NaN
3,Arab World,ARB,Adults (ages 15+) and children (0-14 years) li...,SH.HIV.TOTL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arab World,ARB,Adults (ages 15+) and children (ages 0-14) new...,SH.HIV.INCD.TL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [87]:
health.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', 'Unnamed: 60'],
      dtype='object')

In [88]:
health = health.drop(['Country Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989','2014', '2015', 'Unnamed: 60'], axis=1)
health.head()

,Country Code,Indicator Name,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,ARB,% of females ages 15-49 having comprehensive c...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ARB,% of males ages 15-49 having comprehensive cor...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ARB,"Adolescent fertility rate (births per 1,000 wo...",69.004413,67.755992,66.928451,64.948968,62.922778,60.70707,58.596631,56.440128,55.53154,54.658781,53.83141,52.901528,51.990793,51.522856,51.10325,50.73259,50.329135,49.999851,49.887046,49.781207,49.672975,49.536047,49.383745,48.796558
3,ARB,Adults (ages 15+) and children (0-14 years) li...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ARB,Adults (ages 15+) and children (ages 0-14) new...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [89]:
values2 = list(merged_data['Country Code'].unique())
values2

['AUS',
 'CAN',
 'JPN',
 'KOR',
 'MEX',
 'NZL',
 'TUR',
 'USA',
 'ARG',
 'BRA',
 'CHL',
 'CHN',
 'COL',
 'EGY',
 'ETH',
 'IND',
 'IDN',
 'IRN',
 'ISR',
 'KAZ',
 'MYS',
 'NGA',
 'PAK',
 'PRY',
 'PER',
 'PHL',
 'RUS',
 'SAU',
 'ZAF',
 'THA',
 'UKR',
 'VNM',
 'NOR',
 'CHE',
 'GBR']

In [90]:
health = health[health['Country Code'].isin(values2) == True]

In [91]:
health = health.reset_index().drop(['index'], axis=1)
health

,Country Code,Indicator Name,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,ARG,% of females ages 15-49 having comprehensive c...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.30000,NaN
1,ARG,% of males ages 15-49 having comprehensive cor...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ARG,"Adolescent fertility rate (births per 1,000 wo...",73.281200,73.241600,73.202000,72.521800,71.841600,71.16140,70.481200,69.801000,68.833200,67.865400,66.89760,65.929800,64.96200,64.086800,63.211600,62.336400,61.461200,60.586000,61.264000,61.942000,62.620000,63.298000,63.97600,63.913600
3,ARG,Adults (ages 15+) and children (0-14 years) li...,26000.000000,31000.000000,35000.000000,39000.000000,43000.000000,47000.00000,51000.000000,55000.000000,58000.000000,62000.000000,66000.00000,70000.000000,73000.00000,77000.000000,80000.000000,84000.000000,87000.000000,90000.000000,93000.000000,96000.000000,99000.000000,100000.000000,100000.00000,110000.000000
4,ARG,Adults (ages 15+) and children (ages 0-14) new...,5500.000000,5600.000000,5600.000000,5700.000000,5700.000000,5700.00000,5700.000000,5700.000000,5700.000000,5700.000000,5600.00000,5600.000000,5600.00000,5500.000000,5500.000000,5500.000000,5400.000000,5400.000000,5300.000000,5300.000000,5300.000000,5200.000000,5200.00000,5100.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12070,VNM,Use of insecticide-treated bed nets (% of unde...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.00000,NaN,NaN,NaN,NaN,13.000000,5.000000,NaN,NaN,NaN,NaN,9.400000,NaN,NaN
12071,VNM,Use of Intermittent Preventive Treatment of ma...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12072,VNM,Vitamin A supplementation coverage rate (% of ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.000000,99.00000,99.000000,99.00000,99.000000,99.000000,99.000000,99.000000,98.000000,98.000000,99.000000,95.000000,99.000000,98.00000,NaN
12073,VNM,Wanted fertility rate (births per woman),NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.900000,NaN,NaN,NaN,NaN,1.60000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12074,VNM,Women's share of population ages 15+ living wi...,10.322581,10.294118,10.184552,9.967532,9.823121,9.77707,10.028653,10.731246,11.911178,13.456745,15.14516,16.789589,18.50312,19.985778,21.299961,22.478255,23.622783,24.899708,25.967795,26.743131,27.375034,28.002925,28.64104,29.367301

In [92]:
health['Country Code']

0        ARG
1        ARG
2        ARG
3        ARG
4        ARG
        ...
12070    VNM
12071    VNM
12072    VNM
12073    VNM
12074    VNM
Name: Country Code, Length: 12075, dtype: object

In [93]:
print(len(health['Country Code'].unique())) #correct number

35

In [94]:
test = health.dropna()
test = test.reset_index().drop(['index'], axis=1)

In [95]:
test

,Country Code,Indicator Name,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,ARG,"Adolescent fertility rate (births per 1,000 wo...",7.328120e+01,7.324160e+01,7.320200e+01,7.252180e+01,7.184160e+01,7.116140e+01,7.048120e+01,6.980100e+01,6.883320e+01,6.786540e+01,6.689760e+01,6.592980e+01,6.496200e+01,6.408680e+01,6.321160e+01,6.233640e+01,6.146120e+01,6.058600e+01,6.126400e+01,6.194200e+01,6.262000e+01,6.329800e+01,6.397600e+01,6.391360e+01
1,ARG,Adults (ages 15+) and children (0-14 years) li...,2.600000e+04,3.100000e+04,3.500000e+04,3.900000e+04,4.300000e+04,4.700000e+04,5.100000e+04,5.500000e+04,5.800000e+04,6.200000e+04,6.600000e+04,7.000000e+04,7.300000e+04,7.700000e+04,8.000000e+04,8.400000e+04,8.700000e+04,9.000000e+04,9.300000e+04,9.600000e+04,9.900000e+04,1.000000e+05,1.000000e+05,1.100000e+05
2,ARG,Adults (ages 15+) and children (ages 0-14) new...,5.500000e+03,5.600000e+03,5.600000e+03,5.700000e+03,5.700000e+03,5.700000e+03,5.700000e+03,5.700000e+03,5.700000e+03,5.700000e+03,5.600000e+03,5.600000e+03,5.600000e+03,5.500000e+03,5.500000e+03,5.500000e+03,5.400000e+03,5.400000e+03,5.300000e+03,5.300000e+03,5.300000e+03,5.200000e+03,5.200000e+03,5.100000e+03
3,ARG,Adults (ages 15+) living with HIV,2.600000e+04,3.000000e+04,3.500000e+04,3.900000e+04,4.200000e+04,4.600000e+04,5.000000e+04,5.400000e+04,5.800000e+04,6.100000e+04,6.500000e+04,6.900000e+04,7.200000e+04,7.600000e+04,7.900000e+04,8.300000e+04,8.600000e+04,8.900000e+04,9.200000e+04,9.500000e+04,9.700000e+04,1.000000e+05,1.000000e+05,1.000000e+05
4,ARG,Adults (ages 15+) newly infected with HIV,5.400000e+03,5.400000e+03,5.500000e+03,5.500000e+03,5.500000e+03,5.500000e+03,5.500000e+03,5.500000e+03,5.500000e+03,5.500000e+03,5.500000e+03,5.500000e+03,5.400000e+03,5.400000e+03,5.400000e+03,5.400000e+03,5.300000e+03,5.300000e+03,5.300000e+03,5.200000e+03,5.200000e+03,5.200000e+03,5.100000e+03,5.100000e+03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7095,VNM,"Tuberculosis death rate (per 100,000 people)",5.300000e+01,5.000000e+01,4.800000e+01,4.600000e+01,4.400000e+01,4.200000e+01,4.000000e+01,3.900000e+01,3.700000e+01,3.500000e+01,3.400000e+01,3.200000e+01,3.100000e+01,3.000000e+01,2.800000e+01,2.700000e+01,2.600000e+01,2.500000e+01,2.400000e+01,2.300000e+01,2.200000e+01,2.100000e+01,2.000000e+01,1.900000e+01
7096,VNM,Urban population,1.337168e+07,1.386874e+07,1.437452e+07,1.490183e+07,1.543974e+07,1.597364e+07,1.651805e+07,1.707127e+07,1.763866e+07,1.824304e+07,1.892176e+07,1.960559e+07,2.029086e+07,2.099555e+07,2.172968e+07,2.247739e+07,2.323383e+07,2.400564e+07,2.479338e+07,2.559932e+07,2.642052e+07,2.726217e+07,2.812410e+07,2.900040e+07
7097,VNM,Urban population (% of total),2.025500e+01,2.062500e+01,2.100000e+01,2.139700e+01,2.180000e+01,2.218700e+01,2.257900e+01,2.297400e+01,2.337600e+01,2.381700e+01,2.437400e+01,2.493700e+01,2.551100e+01,2.609200e+01,2.668300e+01,2.728100e+01,2.788800e+01,2.850400e+01,2.912800e+01,2.975800e+01,3.039200e+01,3.102900e+01,3.166800e+01,3.230900e+01
7098,VNM,Urban population growth (annual %),3.718804e+00,3.649849e+00,3.581952e+00,3.602703e+00,3.546048e+00,3.399522e+00,3.351379e+00,3.294297e+00,3.269661e+00,3.369005e+00,3.652895e+00,3.550256e+00,3.435575e+00,3.414001e+00,3.436814e+00,3.383103e+00,3.309941e+00,3.267957e+00,3.228764e+00,3.198931e+00,3.157538e+00,3.135893e+00,3.112665e+00,3.068277e+00
7099,VNM,Women's share of population ages 15+ living wi...,1.032258e+01,1.029412e+01,1.018455e+01,9.967532e+00,9.823121e+00,9.777070e+00,1.002865e+01,1.073125e+01,1.191118e+01,1.345675e+01,1.514516e+01,1.678959e+01,1.850312e+01,1.998578e+01,2.129996e+01,2.247826e+01,2.362278e+01,2.489971e+01,2.596780e+01,2.674313e+01,2.737503e+01,2.800293e+01,2.864104e+01,2.936730e+01

In [96]:
#make year columns rows
#make indicator row columns 
test = pd.melt(test, id_vars = ['Country Code', 'Indicator Name'], 
        value_vars = [str(i) for i in range(1990,2014)])
test

,Country Code,Indicator Name,variable,value
0,ARG,"Adolescent fertility rate (births per 1,000 wo...",1990,7.328120e+01
1,ARG,Adults (ages 15+) and children (0-14 years) li...,1990,2.600000e+04
2,ARG,Adults (ages 15+) and children (ages 0-14) new...,1990,5.500000e+03
3,ARG,Adults (ages 15+) living with HIV,1990,2.600000e+04
4,ARG,Adults (ages 15+) newly infected with HIV,1990,5.400000e+03
...,...,...,...,...
170395,VNM,"Tuberculosis death rate (per 100,000 people)",2013,1.900000e+01
170396,VNM,Urban population,2013,2.900040e+07
170397,VNM,Urban population (% of total),2013,3.230900e+01
170398,VNM,Urban population growth (annual %),2013,3.068277e+00
170399,VNM,Women's share of population ages 15+ living wi...,2013,2.936730e+01

In [97]:
test.dtypes

Country Code       object
Indicator Name     object
variable           object
value             float64
dtype: object

In [98]:
test = test.pivot_table(index=['Country Code', 'variable'], 
                                  columns='Indicator Name', 
                                  values='value')
test

Indicator Name         AIDS estimated deaths (UNAIDS estimates)  \
Country Code variable
ARG          1990                                         500.0
             1991                                        1000.0
             1992                                        1000.0
             1993                                        1300.0
             1994                                        1600.0
...                                                         ...
ZAF          2009                                      350000.0
             2010                                      320000.0
             2011                                      310000.0
             2012                                      270000.0
             2013                                      220000.0

Indicator Name         Adolescent fertility rate (births per 1,000 women ages 15-19)  \
Country Code variable
ARG          1990                                                73.2812
             1991                                                73.2416
             1992                                                73.2020
             1993                                                72.5218
             1994                                                71.8416
...                                                                  ...
ZAF          2009                                                55.8408
             2010                                                54.1812
             2011                                                52.5216
             2012                                                50.8620
             2013                                                48.7214

Indicator Name         Adults (ages 15+) and children (0-14 years) living with HIV  \
Country Code variable
ARG          1990                                                26000.0
             1991                                                31000.0
             1992                                                35000.0
             1993                                                39000.0
             1994                                                43000.0
...                                                                  ...
ZAF          2009                                              6400000.0
             2010                                              6400000.0
             2011                                              6400000.0
             2012                                              6500000.0
             2013                                              6600000.0

Indicator Name         Adults (ages 15+) and children (ages 0-14) newly infected with HIV  \
Country Code variable
ARG          1990                                                 5500.0
             1991                                                 5600.0
             1992                                                 5600.0
             1993                                                 5700.0
             1994                                                 5700.0
...                                                                  ...
ZAF          2009                                               340000.0
             2010                                               350000.0
             2011                                               360000.0
             2012                                               370000.0
             2013                                               370000.0

Indicator Name         Adults (ages 15+) living with HIV  \
Country Code variable
ARG          1990                                26000.0
             1991                                30000.0
             1992                                35000.0
             1993                                39000.0
             1994                                42000.0
...                                                  ...
ZAF          2009                              6000000.0
             2010                              6000000.0
             2011                              6100000.0
             2012                              6200000.0
             2013                              6400000.0

Indicator Name         Adults (ages 15+) newly infected with HIV  \
Country Code variable
ARG          1990                                         5400.0
             1991                                         5400.0
             1992                                         5500.0
             1993                                         5500.0
             1994                                         5500.0
...                                                          ...
ZAF          2009                                       310000.0
             2010                                       330000.0
             2011                                       340000.0
             2012                                       350000.0
             2013                                       360000.0

Indicator Name         Age dependency ratio (% of working-age population)  \
Country Code variable
ARG          1990                                              65.745925
             1991                                              65.644754
             1992                                              65.153818
             1993                                              64.427990
             1994                                              63.701944
...                                                                  ...
ZAF          2009                                              56.927368
             2010                                              56.226658
             2011                                              55.708309
             2012                                              54.802341
             2013                                              53.728499

Indicator Name         Age dependency ratio, old  Age dependency ratio, young  \
Country Code variable
ARG          1990                      15.005772                    50.740153
             1991                      15.173254                    50.471500
             1992                      15.309149                    49.844669
             1993                      15.417134                    49.010855
             1994                      15.502496                    48.199448
...                                          ...                          ...
ZAF          2009                       7.832276                    49.095091
             2010                       7.891563                    48.335095
             2011                       7.841954                    47.866355
             2012                       7.785009                    47.017333
             2013                       7.727996                    46.000503

Indicator Name         Age population, age 0, female, interpolated  \
Country Code variable
ARG          1990                                         359710.0
             1991                                         363636.0
             1992                                         362478.0
             1993                                         357668.0
             1994                                         351541.0
...                                                            ...
ZAF          2009                                         565026.0
             2010                                         561631.0
             2011                                         553016.0
             2012                                         539731.0
             2013                                         524719.0

Indicator Name         Age population, age 0, male, interpolated  \
Country Code variable
ARG          1990                                       369990.0
             1991                                       374258.0
             1992                                       373727.0
             1993                                       369652.0
             1994                                       364110.0
...                                                          ...
ZAF          2009                                       628927.0
             2010                                       650588.0
             2011                                       637960.0
             2012                                       602408.0
             2013                                       554803.0

Indicator Name         Age population, age 01, female, interpolated  \
Country Code variable
ARG          1990                                          343547.0
             1991                                          355819.0
             1992                                          348566.0
             1993                                          348964.0
             1994                                          348309.0
...                                                             ...
ZAF          2009                                          553973.0
             2010                                          554837.0
             2011                                          559647.0
             2012                                          545523.0
             2013                                          537226.0

Indicator Name         Age population, age 01, male, interpolated  \
Country Code variable
ARG          1990                                        354348.0
             1991                                        366151.0
             1992                                        359870.0
             1993                                        360675.0
             1994                                        360346.0
...                                                           ...
ZAF          2009                                        583267.0
             2010                                        595900.0
             2011                                        633983.0
             2012                                        576783.0
             2013                                        556855.0

Indicator Name         Age population, age 02, female, interpolated  \
Country Code variable
ARG          1990                                          332025.0
             1991                                          342313.0
             1992                                          352207.0
             1993                                          342116.0
             1994                                          345195.0
...                                                             ...
ZAF          2009                                          543453.0
             2010                                          547414.0
             2011                                          553761.0
             2012                                          557835.0
             2013                                          545063.0

Indicator Name         Age population, age 02, male, interpolated  \
Country Code variable
ARG          1990                                        343104.0
             1991                                        353034.0
             1992                                        362657.0
             1993                                        353578.0
             1994                                        356816.0
...                                                           ...
ZAF          2009                                        549901.0
             2010                                        555429.0
             2011                                        589346.0
             2012                                        619776.0
             2013                                        556926.0

Indicator Name         Age population, age 03, female, interpolated  \
Country Code variable
ARG          1990                                          324509.0
             1991                                          332468.0
             1992                                          341347.0
             1993                                          348719.0
             1994                                          342217.0
...                                                             ...
ZAF          2009                                          533552.0
             2010                                          539565.0
             2011                                          546870.0
             2012                                          552856.0
             2013                                          555951.0

Indicator Name         Age population, age 03, male, interpolated  \
Country Code variable
ARG          1990                                        335643.0
             1991                                        343388.0
             1992                                        352050.0
             1993                                        359325.0
             1994                                        353508.0
...                                                           ...
ZAF          2009                                        527392.0
             2010                                        527550.0
             2011                                        555172.0
             2012                                        584996.0
             2013                                        606681.0

Indicator Name         Age population, age 04, female, interpolated  \
Country Code variable
ARG          1990                                          320367.0
             1991                                          325811.0
             1992                                          333169.0
             1993                                          340502.0
             1994                                          345117.0
...                                                             ...
ZAF          2009                                          527513.0
             2010                                          531493.0
             2011                                          539249.0
             2012                                          546495.0
             2013                                          551882.0

Indicator Name         Age population, age 04, male, interpolated  \
Country Code variable
ARG          1990                                        331360.0
             1991                                        336750.0
             1992                                        343992.0
             1993                                        351227.0
             1994                                        355876.0
...                                                           ...
ZAF          2009                                        493899.0
             2010                                        510643.0
             2011                                        530465.0
             2012                                        556974.0
             2013                                        581720.0

Indicator Name         Age population, age 05, female, interpolated  \
Country Code variable
ARG          1990                                          318966.0
             1991                                          321870.0
             1992                                          327365.0
             1993                                          333991.0
             1994                                          339549.0
...                                                             ...
ZAF          2009                                          517839.0
             2010                                          523403.0
             2011                                          531172.0
             2012                                          539100.0
             2013                                          546053.0

Indicator Name         Age population, age 05, male, interpolated  \
Country Code variable
ARG          1990                                        329640.0
             1991                                        332666.0
             1992                                        338169.0
             1993                                        344752.0
             1994                                        350293.0
...                                                           ...
ZAF          2009                                        502394.0
             2010                                        503080.0
             2011                                        514232.0
             2012                                        535338.0
             2013                                        559815.0

Indicator Name         Age population, age 06, female, interpolated  \
Country Code variable
ARG          1990                                          319669.0
             1991                                          320017.0
             1992                                          323623.0
             1993                                          329038.0
             1994                                          334707.0
...                                                             ...
ZAF          2009                                          509169.0
             2010                                          515495.0
             2011                                          522835.0
             2012                                          531016.0
             2013                                          538883.0

Indicator Name         Age population, age 06, male, interpolated  \
Country Code variable
ARG          1990                                        329876.0
             1991                                        330528.0
             1992                                        334282.0
             1993                                        339745.0
             1994                                        345406.0
...                                                           ...
ZAF          2009                                        513812.0
             2010                                        503241.0
             2011                                        504850.0
             2012                                        519717.0
             2013                                        541217.0

Indicator Name         Age population, age 07, female, interpolated  \
Country Code variable
ARG          1990                                          321845.0
             1991                                          319616.0
             1992                                          321317.0
             1993                                          325495.0
             1994                                          330607.0
...                                                             ...
ZAF          2009                                          501601.0
             2010                                          507975.0
             2011                                          514425.0
             2012                                          522427.0
             2013                                          530793.0

Indicator Name         Age population, age 07, male, interpolated  \
Country Code variable
ARG          1990                                        331455.0
             1991                                        329728.0
             1992                                        331723.0
             1993                                        336052.0
             1994                                        341214.0
...                                                           ...
ZAF          2009                                        527057.0
             2010                                        509499.0

In [99]:
test = pd.DataFrame(test.to_records())
test

,Country Code,variable,AIDS estimated deaths (UNAIDS estimates),"Adolescent fertility rate (births per 1,000 women ages 15-19)",Adults (ages 15+) and children (0-14 years) living with HIV,Adults (ages 15+) and children (ages 0-14) newly infected with HIV,Adults (ages 15+) living with HIV,Adults (ages 15+) newly infected with HIV,Age dependency ratio (% of working-age population),"Age dependency ratio, old","Age dependency ratio, young","Age population, age 0, female, interpolated","Age population, age 0, male, interpolated","Age population, age 01, female, interpolated","Age population, age 01, male, interpolated","Age population, age 02, female, interpolated","Age population, age 02, male, interpolated","Age population, age 03, female, interpolated","Age population, age 03, male, interpolated","Age population, age 04, female, interpolated","Age population, age 04, male, interpolated","Age population, age 05, female, interpolated","Age population, age 05, male, interpolated","Age population, age 06, female, interpolated","Age population, age 06, male, interpolated","Age population, age 07, female, interpolated","Age population, age 07, male, interpolated","Age population, age 08, female, interpolated","Age population, age 08, male, interpolated","Age population, age 09, female, interpolated","Age population, age 09, male, interpolated","Age population, age 10, female, interpolated","Age population, age 10, male, interpolated","Age population, age 11, female, interpolated","Age population, age 11, male, interpolated","Age population, age 12, female, interpolated","Age population, age 12, male, interpolated","Age population, age 13, female, interpolated","Age population, age 13, male, interpolated","Age population, age 14, female, interpolated","Age population, age 14, male, interpolated","Age population, age 15, female, interpolated","Age population, age 15, male, interpolated","Age population, age 16, female, interpolated","Age population, age 16, male, interpolated","Age population, age 17, female, interpolated","Age population, age 17, male, interpolated","Age population, age 18, female, interpolated","Age population, age 18, male, interpolated","Age population, age 19, female, interpolated","Age population, age 19, male, interpolated","Age population, age 20, female, interpolated","Age population, age 20, male, interpolated","Age population, age 21, female, interpolated","Age population, age 21, male, interpolated","Age population, age 22, female, interpolated","Age population, age 22, male, interpolated","Age population, age 23, female, interpolated","Age population, age 23, male, interpolated","Age population, age 24, female, interpolated","Age population, age 24, male, interpolated","Age population, age 25, female, interpolated","Age population, age 25, male, interpolated","Birth rate, crude (per 1,000 people)",Children (0-14) living with HIV,Children (ages 0-14) newly infected with HIV,Children orphaned by HIV/AIDS,"Death rate, crude (per 1,000 people)",Female population 00-04,Female population 05-09,Female population 10-14,Female population 15-19,Female population 20-24,Female population 25-29,Female population 30-34,Female population 35-39,Female population 40-44,Female population 45-49,Female population 50-54,Female population 55-59,Female population 60-64,Female population 65-69,Female population 70-74,Female population 75-79,Female population 80+,"Fertility rate, total (births per woman)","GNI per capita, Atlas method (current US$)","Immunization, BCG (% of one-year-old children)","Immunization, DPT (% of children ages 12-23 months)","Immunization, Pol3 (% of one-year-old children)","Immunization, measles (% of children ages 12-23 months)",Improved sanitation facilities (% of population with access),"Improved sanitation facilities, rural (% of rural population with access)","Improved sanitation facilities, urban (% of urban population with access)",Improved water source (% of population with access),"Improved water source, rural (% of rural population with access)","Improved water source, urban (% of urban population with access)",Incidence of HIV (% of uninfected population ages 15-49),"Incidence of tuberculosis (per 100,000 people)","Labor force, female (% of total labor force)","Labor force, total","Life expectancy at birth, female (years)","Life expectancy at birth, male (years)","Life expectancy at birth, total (years)",Lifetime risk of maternal death (%),Lifetime risk of maternal death (1 in: rate varies by country),Malaria cases reported,Male population 00-04,Male population 05-09,Male population 10-14,Male population 15-19,Male population 20-24,Male population 25-29,Male population 30-34,Male population 35-39,Male population 40-44,Male population 45-49,Male population 50-54,Male population 55-59,Male population 60-64,Male population 65-69,Male population 70-74,Male population 75-79,Male population 80+,"Maternal mortality ratio (modeled estimate, per 100,000 live births)","Mortality rate, adult, female (per 1,000 female adults)","Mortality rate, adult, male (per 1,000 male adults)","Mortality rate, infant (per 1,000 live births)","Mortality rate, neonatal (per 1,000 live births)","Mortality rate, under-5 (per 1,000)",Newborns protected against tetanus (%),Number of infant deaths,Number of maternal deaths,Number of neonatal deaths,Number of under-five deaths,People practicing open defecation (% of population),"People practicing open defecation, rural (% of rural population)","People practicing open defecation, urban (% of urban population)","Physicians (per 1,000 people)","Population ages 0-14, female","Population ages 0-14, male","Population ages 00-04, female (% of female population)","Population ages 00-04, male (% of male population)",Population ages 00-14 (% of total),"Population ages 00-14, female (% of total)","Population ages 00-14, male (% of total)","Population ages 00-14, total","Population ages 05-09, female (% of female population)","Population ages 05-09, male (% of male population)","Population ages 10-14, female (% of female population)","Population ages 15-19, female (% of female population)","Population ages 15-19, male (% of male population)",Population ages 15-64 (% of total),"Population ages 15-64, female","Population ages 15-64, female (% of total)","Population ages 15-64, male","Population ages 15-64, male (% of total)","Population ages 15-64, total","Population ages 20-24, female (% of female population)","Population ages 20-24, male (% of male population)","Population ages 25-29, female (% of female population)","Population ages 25-29, male (% of male population)","Population ages 30-34, female (% of female population)","Population ages 30-34, male (% of male population)","Population ages 35-39, female (% of female population)","Population ages 35-39, male (% of male population)","Population ages 40-44, female (% of female population)","Population ages 40-44, male (% of male population)","Population ages 45-49, female (% of female population)","Population ages 45-49, male (% of male population)","Population ages 50-54, female (% of female population)","Population ages 50-54, male (% of male population)","Population ages 55-59, female (% of female population)","Population ages 55-59, male (% of male population)","Population ages 60-64, female (% of female population)","Population ages 60-64, male (% of male population)",Population ages 65 and above (% of total),"Population ages 65 and above, female","Population ages 65 and above, female (% of total)","Population ages 65 and above, male","Population ages 65 and above, male (% of total)","Population ages 65 and above, total","Population ages 65-69, female (% of female population)","Population ages 65-69, male (% of male population)","Population ages 70-74, female (% of female population)","Population ages 70-74, male (% of male population)","Population ages 75-79, female (% of female population)","Population ages 75-79, male (% of male population)","Population ages 80 and older, female (% of female population)","Population ages 80 and older, male (% of male population)","Population ages10-14, male (% of male population)",Population growth (annual %),"Population, female","Population, female (% of total)","Population, male","Population, male (% of total)","Population, total","Prevalence of HIV, female (% ages 15-24)","Prevalence of HIV, male (% ages 15-24)","Prevalence of HIV, total (% of population ages 15-49)","Prevalence of tuberculosis (per 100,000 population)",Rural population,Rural population (% of total population),Rural population growth (annual %),"School enrollment, primary (% gross)","School enrollment, primary (% net)","School enrollment, primary, female (% gross)","School enrollment, primary, female (% net)","School enrollment, primary, male (% gross)","School enrollment, primary, male (% net)","School enrollment, secondary (% gross)","School enrollment, secondary (% net)","School enrollment, secondary, female (% gross)","School enrollment, secondary, female (% net)","School enrollment, secondary, male (% gross)","School enrollment, secondary, male (% net)","School enrollment, tertiary (% gross)","School enrollment, tertiary, female (% gross)",Share of women employed in the nonagricultural sector (% of total nonagricultural employment),"Survival to age 65, female (% of cohort)","Survival to age 65, male (% of cohort)",Tuberculosis case detection rate (all forms),"Tuberculosis death rate (per 100,000 people)",Urban population,Urban population (% of total),Urban population growth (annual %),Women's share of population ages 15+ living with HIV (%)
0,ARG,1990,500.0,73.2812,26000.0,5500.0,26000.0,5400.0,65.745925,15.005772,50.740153,359710.0,369990.0,343547.0,354348.0,332025.0,343104.0,324509.0,335643.0,320367.0,331360.0,318966.0,329640.0,319669.0,329876.0,321845.0,331455.0,324860.0,333768.0,328079.0,336205.0,332120.0,339403.0,337596.0,344001.0,337627.0,343146.0,329080.0,333730.0,315068.0,318888.0,301851.0,304828.0,288188.0,290266.0,276479.0,277959.0,268556.0,269892.0,263214.0,264683.0,257276.0,258851.0,251210.0,252960.0,246375.0,248028.0,243073.0,244169.0,240871.0,241124.0,238984.0,238455.0,21.804,500.0,200.0,1000.0,8.264,1680158.0,1613419.0,1651491.0,1398288.0,1238805.0,1178533.0,1130387.0,1068011.0,959216.0,846558.0,766346.0,730456.0,691645.0,590231.0,465300.0,346920.0,326773.0,2.989,3170.0,99.0,87.0,90.0,93.0,87.4,69.9,90.1,93.8,68.8,97.5,0.03,43.0,36.099471,13330838.0,75.191,68.070,71.543659,0.225988,440.0,1660.0,1734445.0,1660944.0,1679168.0,1407628.0,1245132.0,1169458.0,1110793.0,1036351.0,939320.0,817544.0,729989.0,674479.0,607996.0,485080.0,343660.0,227714.0,177502.0,72.0,105.211,204.716,24.4,15.4,27.6,NaN,18204.0,510.0,11463.0,20410.0,1.5,1.3,1.5,NaN,4945068.0,5074557.0,10.071358,10.808394,30.613213,29.642182,31.622688,10019625.0,9.671305,10.350364,9.899519,8.381747,8.771797,60.333308,10008245.0,59.992344,9738690.0,60.687772,19746935.0,7.425759,7.759184,7.064471,7.287613,6.775870,6.922035,6.401970,6.458141,5.749821,5.853481,5.074516,5.094620,4.593702,4.549011,4.378567,4.203094,4.145922,3.788797,9.053479,1729224.0,10.365474,1233956.0,7.689539,2963180.0,3.538017,3.022832,2.789144,2.141557,2.079540,1.419026,1.958773,1.106124,10.463929,1.434576,16682537.0,50.970576,16047203.0,49.029424,32729740.0,0.1,0.2,0.2,55.0,4.260103e+06,13.016,-1.375903,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82.32740,67.97200,87.0,4.2,28469637.0,86.984,1.862004,29.669518
1,ARG,1991,1000.0,73.2416,31000.0,5600.0,30000.0,5400.0,65.644754,15.173254,50.471500,363636.0,374258.0,355819.0,366151.0,342313.0,353034.0,332468.0,343388.0,325811.0,336750.0,321870.0,332666.0,320017.0,330528.0,319616.0,329728.0,320999.0,330556.0,324018.0,332858.0,327715.0,335724.0,331909.0,339043.0,337371.0,343603.0,337393.0,342717.0,328852.0,333285.0,314852.0,318439.0,301643.0,304370.0,287987.0,289797.0,276284.0,277482.0,268362.0,269411.0,263019.0,264199.0,257080.0,258366.0,251011.0,252472.0,246171.0,247538.0,242860.0,243677.0,240646.0,240628.0,21.603,500.0,200.0,1200.0,8.207,1720047.0,1606520.0,1663240.0,1449128.0,1260141.0,1186192.0,1138578.0,1081747.0,979719.0,863694.0,773845.0,729935.0,695030.0,601814.0,474663.0,352627.0,346639.0,2.954,3950.0,99.0,80.0,86.0,99.0,87.9,71.1,90.3,94.1,70.0,97.6,0.03,44.0,35.919562,13455537.0,75.426,68.275,71.763293,0.219856,450.0,803.0,1773581.0,1656336.0,1694372.0,1459499.0,1266252.0,1178849.0,1120143.0,1049117.0,956349.0,833622.0,735176.0,672765.0,609441.0,493749.0,351141.0,230968.0,189001.0,71.0,103.460,202.114,23.6,15.0,26.6,NaN,17792.0,510.0,11284.0,19913.0,1.5,1.3,1.5,NaN,4989807.0,5124289.0,10.163625,10.900686,30.469725,29.484383,31.494624,10114096.0,9.492802,10.180081,9.827956,8.562785,8.970293,60.370158,10158009.0,60.022889,9881213.0,60.731369,20039222.0,7.446076,7.782569,7.009117,7.245377,6.727769,6.884561,6.391959,6.448025,5.789084,5.877860,5.103501,5.123562,4.572590,4.518498,4.313129,4.134911,4.106878,3.745713,9.160117,1775743.0,10.492728,1264859.0,7.774007,3040602.0,3.556072,3.034653,2.804747,2.158164,2.083646,1.419563,2.048263,1.161628,10.413856,1.408258,16923559.0,50.983912,16270361.0,49.016088,33193920.0,0.1,0.2,0.2,56.0,4.206334e+06,12.672,-1.270185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82.61320,68.36800,84.0,3.8,28987586.0,87.328,1.802952,29.856008
2,ARG,1992,1000.0,73.2020,35000.0,5600.0,35000.0,5500.0,65.153818,15.309149,49.844669,362478.0,373727.0,348566.0,359870.0,352207.0,362657.0,341347.0,352050.0,333169.0,343992.0,327365.0,338169.0,323623.0,334282.0,321317.0,331723.0,319811.0,329887.0,320404.0,329966.0,323427.0,332258.0,327608.0,335556.0,331957.0,338999.0,337407.0,343525.0,337423.0,342608.0,328879.0,333152.0,314881.0,318287.0,301671.0,304196.0,288010.0,289598.0,276303.0,277263.0,268378.0,269181.0,263029.0,263962.0,257083.0,258122.0,251008.0,252220.0,246158.0,247279.0,242837.0,243412.0,21.366,500.0,200.0,1900.0,8.145,1737767.0,1612520.0,1657822.0,1509744.0,1285656.0,1194985.0,1147884.0,1094125.0,1001175.0,883070.0,784635.0,730882.0,696931.0,614535.0,486501.0,358510.0,364843.0,2.913,6280.0,99.0,81.0,85.0,92.0,88.3,72.3,90.6,94.3,71.3,97.6,0.03,44.0,35.821160,13605210.0,75.666,68.487,71.988951,0.210865,470.0,643.0,1792296.0,1664027.0,1692946.0,1522496.0,1290764.0,1190022.0,1130310.0,1062495.0,973231.0,853127.0,743594.0,672817.0,610120.0,503047.0,360313.0,233770.0,198189.0,69.0,101.708,199.513,22.8,14.7,25.7,NaN,17137.0,500.0,11027.0,19214.0,1.5,1.3,1.5,NaN,5008109.0,5149269.0,10.125912,10.866639,30.180755,29.182089,31.219869,10157378.0,9.396102,10.088947,9.660075,8.797229,9.230849,60.549615,10329087.0,60.187255,10048976.0,60.926650,20378063.0,7.491476,7.825865,6.963139,7.215069,6.688683,6.853037,6.375431,6.441876,5.833814,5.900671,5.145620,5.172484,4.572043,4.508389,4.258826,4.079270,4.060994,3.699140,9.269631,1824389.0,10.630656,1295319.0,7.853482,3119708.0,3.580876,3.049959,2.834826,2.184567,2.089026,1.417341,2.125928,1.201614,10.264282,1.379933,17161585.0,50.992450,16493564.0,49.007550,33655149.0,0.1,0.2,0.2,56.0,4.192758e+06,12.458,-0.323273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82.89900,68.76400,85.0,3.5,29462391.0,87.542,1.624690,30.035733
3,ARG,1993,1300.0,72.5218,39000.0,5700.0,39000.0,5500.0,64.427990,15.417134,49.010855,357668.0,369652.0,348964.0,360675.0,342116.0,353578.0,348719.0,359325.0,340502.0,351227.0,333991.0,344752.0,329038.0,339745.0,325495.0,336052.0,322733.0,333071.0,320122.0,330196.0,319923.0,329526.0,322954.0,331811.0,327618.0,335541.0,332123.0,339111.0,337567.0,343604.0,337573.0,342654.0,329025.0,333171.0,315023.0,318280.0,301807.0,304161.0,288138.0,289531.0,276422.0,277172.0,268489.0,269074.0,263134.0,263845.0,257180.0,257996.0,251095.0,252083.0,246235.0,247133.0,21.097,500.0,200.0,2900.0,8.082,1737969.0,1631379.0,1640185.0,1571566.0,1316320.0,1205739.0,1157727.0,1105234.0,1022480.0,903993.0,798173.0,733492.0,697837.0,627298.0,500098.0,365521.0,380995.0,2.866,7070.0,99.0,81.0,82.0,95.0,88.7,73.5,90.8,94.6,72.5,97.7,0.03,44.0,36.131755,13815407.0,75.905,68.702,72.215659,0.194756,510.0,758.0,1794457.0,1683816.0,1679593.0,1587797.0,1320170.0,1203310.0,1140903.0,1075906.0,989683.0,874663.0,754988.0,674750.0,610467.0,512341.0,370521.0,237080.0,204461.0,65.0,100.410,196.410,22.1,14.4,24.8,NaN,16400.0,470.0,10666.0,18339.0,1.5,1.3,1.5,NaN,5009533.0,5157866.0,9.990621,10.735669,29.806881,28.797030,30.857882,10167399.0,9.377894,10.073739,9.428515,9.034062,9.499288,60.816896,10512561.0,60.430889,10232637.0,61.218633,20745198.0,7.566794,7.898160,6.931125,7.199023,6.655131,6.825662,6.353378,6.436806,5.877671,5.920961,5.196555,5.232832,4.588254,4.516855,4.216439,4.036816,4.011478,3.652231,9.376222,1873912.0,10.772082,1324403.0,7.923485,3198315.0,3.605989,3.065174,2.874786,2.216710,2.101178,1.418375,2.190129,1.223226,10.048474,1.345127,17396006.0,50.998361,16714906.0,49.001639,34110912.0,0.1,0.2,0.2,56.0,4.177905e+06,12.248,-0.354883,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,83.10140,69.22720,93.0,3.6,29933007.0,87.752,1.584722,30.200026
4,ARG,1994,1600.0,71.8416,43000.0,5700.0,42000.0,5500.0,63.701944,15.502496,48.199448,351541.0,364110.0,348309.0,360346.0,345195.0,356816.0,342217.0,353508.0,345117.0,355876.0,339549.0,350293.0,334707.0,345406.0,330607.0,341214.0,327264.0,337719.0,324047.0,334315.0,320331.0,330402.0,319340.0,328983.0,322376.0,331257.0,327523.0,335422.0,332185.0,339115.0,337617.0,343575.0,337617.0,342594.0,329065.0,333086.0,315065.0,318173.0,301848.0,304029.0,288173.0,289374.0,276453.0,276994.0,268515.0,268881.0,263154.0,263646.0,257194.0,257788.0,251103.0,251867.0,20.804,1000.0,500.0,4200.0,8.021,1732379.0,1656174.0,1621755.0,1621212.0,1353489.0,1219539.0,1166976.0,1115219.0,1041960.0,925400.0,813508.0,737928.0,698516.0,638453.0,514511.0,374576.0,394610.0,2.815,7540.0,99.0,82.0,85.0,96.0,89.1,74.7,91.0,94.9,73.8,97.7,0.03,44.0,36.290214,14044621.0,76.142,68.917,72.441390,0.189042,530.0,948.0,1790656.0,1708947.0,1665179.0,1641457.0,1356683.0,1219023.0,1151165.0,1088359.0,1005366.0,896064.0,768876.0,678614.0,611033.0,520505.0,380925.0,241717.0,207340.0,64.0,99.112,193.307,21.4,14.0,24.1,NaN,15616.0,460.0,10198.0,17555.0,1.5,1.3,1.5,NaN,5010308.0,5164782.0,9.828429,10.575630,29.443418,28.425336,30.503247,10175090.0,9.396090,10.093056,9.200818,9.197737,9.694459,61.086629,10693747.0,60.669594,10416640.0,61.520765,21110387.0,7.678845,8.012581,6.918897,7.199560,6.620688,6.798790,6.327051,6.427858,5.911426,5.937700,5.250138,5.292162,4.615333,4.540988,4.186539,4.007900,3.962940,3.608766,9.469953,1922150.0,10.905070,1350487.0,7.975988,3272637.0,3.622181,3.074107,2.919012,2.249746,2.125109,1.427583,2.238769,1.224552,9.834561,1.302504,17626205.0,51.004534,16931909.0,48.995466,34558114.0,0.1,0.2,0.2,55.0,4.160797e+06,12.040,-0.410328,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,83.30380,69.69040,91.0,3.2,30397317.0,87.960,1.539256,30.348856
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...

In [100]:
test = test.dropna(axis='columns')

In [101]:
test

,Country Code,variable,"Adolescent fertility rate (births per 1,000 women ages 15-19)",Age dependency ratio (% of working-age population),"Age dependency ratio, old","Age dependency ratio, young","Age population, age 0, female, interpolated","Age population, age 0, male, interpolated","Age population, age 01, female, interpolated","Age population, age 01, male, interpolated","Age population, age 02, female, interpolated","Age population, age 02, male, interpolated","Age population, age 03, female, interpolated","Age population, age 03, male, interpolated","Age population, age 04, female, interpolated","Age population, age 04, male, interpolated","Age population, age 05, female, interpolated","Age population, age 05, male, interpolated","Age population, age 06, female, interpolated","Age population, age 06, male, interpolated","Age population, age 07, female, interpolated","Age population, age 07, male, interpolated","Age population, age 08, female, interpolated","Age population, age 08, male, interpolated","Age population, age 09, female, interpolated","Age population, age 09, male, interpolated","Age population, age 10, female, interpolated","Age population, age 10, male, interpolated","Age population, age 11, female, interpolated","Age population, age 11, male, interpolated","Age population, age 12, female, interpolated","Age population, age 12, male, interpolated","Age population, age 13, female, interpolated","Age population, age 13, male, interpolated","Age population, age 14, female, interpolated","Age population, age 14, male, interpolated","Age population, age 15, female, interpolated","Age population, age 15, male, interpolated","Age population, age 16, female, interpolated","Age population, age 16, male, interpolated","Age population, age 17, female, interpolated","Age population, age 17, male, interpolated","Age population, age 18, female, interpolated","Age population, age 18, male, interpolated","Age population, age 19, female, interpolated","Age population, age 19, male, interpolated","Age population, age 20, female, interpolated","Age population, age 20, male, interpolated","Age population, age 21, female, interpolated","Age population, age 21, male, interpolated","Age population, age 22, female, interpolated","Age population, age 22, male, interpolated","Age population, age 23, female, interpolated","Age population, age 23, male, interpolated","Age population, age 24, female, interpolated","Age population, age 24, male, interpolated","Age population, age 25, female, interpolated","Age population, age 25, male, interpolated","Birth rate, crude (per 1,000 people)","Death rate, crude (per 1,000 people)",Female population 00-04,Female population 05-09,Female population 10-14,Female population 15-19,Female population 20-24,Female population 25-29,Female population 30-34,Female population 35-39,Female population 40-44,Female population 45-49,Female population 50-54,Female population 55-59,Female population 60-64,Female population 65-69,Female population 70-74,Female population 75-79,Female population 80+,"Fertility rate, total (births per woman)","Improved water source, urban (% of urban population with access)","Incidence of tuberculosis (per 100,000 people)","Labor force, female (% of total labor force)","Labor force, total","Life expectancy at birth, female (years)","Life expectancy at birth, male (years)","Life expectancy at birth, total (years)",Lifetime risk of maternal death (%),Lifetime risk of maternal death (1 in: rate varies by country),Male population 00-04,Male population 05-09,Male population 10-14,Male population 15-19,Male population 20-24,Male population 25-29,Male population 30-34,Male population 35-39,Male population 40-44,Male population 45-49,Male population 50-54,Male population 55-59,Male population 60-64,Male population 65-69,Male population 70-74,Male population 75-79,Male population 80+,"Maternal mortality ratio (modeled estimate, per 100,000 live births)","Mortality rate, infant (per 1,000 live births)","Mortality rate, neonatal (per 1,000 live births)","Mortality rate, under-5 (per 1,000)",Number of infant deaths,Number of maternal deaths,Number of neonatal deaths,Number of under-five deaths,"Population ages 0-14, female","Population ages 0-14, male","Population ages 00-04, female (% of female population)","Population ages 00-04, male (% of male population)",Population ages 00-14 (% of total),"Population ages 00-14, female (% of total)","Population ages 00-14, male (% of total)","Population ages 00-14, total","Population ages 05-09, female (% of female population)","Population ages 05-09, male (% of male population)","Population ages 10-14, female (% of female population)","Population ages 15-19, female (% of female population)","Population ages 15-19, male (% of male population)",Population ages 15-64 (% of total),"Population ages 15-64, female","Population ages 15-64, female (% of total)","Population ages 15-64, male","Population ages 15-64, male (% of total)","Population ages 15-64, total","Population ages 20-24, female (% of female population)","Population ages 20-24, male (% of male population)","Population ages 25-29, female (% of female population)","Population ages 25-29, male (% of male population)","Population ages 30-34, female (% of female population)","Population ages 30-34, male (% of male population)","Population ages 35-39, female (% of female population)","Population ages 35-39, male (% of male population)","Population ages 40-44, female (% of female population)","Population ages 40-44, male (% of male population)","Population ages 45-49, female (% of female population)","Population ages 45-49, male (% of male population)","Population ages 50-54, female (% of female population)","Population ages 50-54, male (% of male population)","Population ages 55-59, female (% of female population)","Population ages 55-59, male (% of male population)","Population ages 60-64, female (% of female population)","Population ages 60-64, male (% of male population)",Population ages 65 and above (% of total),"Population ages 65 and above, female","Population ages 65 and above, female (% of total)","Population ages 65 and above, male","Population ages 65 and above, male (% of total)","Population ages 65 and above, total","Population ages 65-69, female (% of female population)","Population ages 65-69, male (% of male population)","Population ages 70-74, female (% of female population)","Population ages 70-74, male (% of male population)","Population ages 75-79, female (% of female population)","Population ages 75-79, male (% of male population)","Population ages 80 and older, female (% of female population)","Population ages 80 and older, male (% of male population)","Population ages10-14, male (% of male population)","Population, female","Population, female (% of total)","Population, male","Population, male (% of total)","Population, total","Prevalence of tuberculosis (per 100,000 population)",Rural population,Rural population (% of total population),Rural population growth (annual %),"Survival to age 65, female (% of cohort)","Survival to age 65, male (% of cohort)","Tuberculosis death rate (per 100,000 people)",Urban population,Urban population (% of total),Urban population growth (annual %)
0,ARG,1990,73.2812,65.745925,15.005772,50.740153,359710.0,369990.0,343547.0,354348.0,332025.0,343104.0,324509.0,335643.0,320367.0,331360.0,318966.0,329640.0,319669.0,329876.0,321845.0,331455.0,324860.0,333768.0,328079.0,336205.0,332120.0,339403.0,337596.0,344001.0,337627.0,343146.0,329080.0,333730.0,315068.0,318888.0,301851.0,304828.0,288188.0,290266.0,276479.0,277959.0,268556.0,269892.0,263214.0,264683.0,257276.0,258851.0,251210.0,252960.0,246375.0,248028.0,243073.0,244169.0,240871.0,241124.0,238984.0,238455.0,21.804,8.264,1680158.0,1613419.0,1651491.0,1398288.0,1238805.0,1178533.0,1130387.0,1068011.0,959216.0,846558.0,766346.0,730456.0,691645.0,590231.0,465300.0,346920.0,326773.0,2.989,97.5,43.0,36.099471,13330838.0,75.191,68.070,71.543659,0.225988,440.0,1734445.0,1660944.0,1679168.0,1407628.0,1245132.0,1169458.0,1110793.0,1036351.0,939320.0,817544.0,729989.0,674479.0,607996.0,485080.0,343660.0,227714.0,177502.0,72.0,24.4,15.4,27.6,18204.0,510.0,11463.0,20410.0,4945068.0,5074557.0,10.071358,10.808394,30.613213,29.642182,31.622688,10019625.0,9.671305,10.350364,9.899519,8.381747,8.771797,60.333308,10008245.0,59.992344,9738690.0,60.687772,19746935.0,7.425759,7.759184,7.064471,7.287613,6.775870,6.922035,6.401970,6.458141,5.749821,5.853481,5.074516,5.094620,4.593702,4.549011,4.378567,4.203094,4.145922,3.788797,9.053479,1729224.0,10.365474,1233956.0,7.689539,2963180.0,3.538017,3.022832,2.789144,2.141557,2.079540,1.419026,1.958773,1.106124,10.463929,16682537.0,50.970576,16047203.0,49.029424,32729740.0,55.0,4.260103e+06,13.016,-1.375903,82.32740,67.97200,4.2,28469637.0,86.984,1.862004
1,ARG,1991,73.2416,65.644754,15.173254,50.471500,363636.0,374258.0,355819.0,366151.0,342313.0,353034.0,332468.0,343388.0,325811.0,336750.0,321870.0,332666.0,320017.0,330528.0,319616.0,329728.0,320999.0,330556.0,324018.0,332858.0,327715.0,335724.0,331909.0,339043.0,337371.0,343603.0,337393.0,342717.0,328852.0,333285.0,314852.0,318439.0,301643.0,304370.0,287987.0,289797.0,276284.0,277482.0,268362.0,269411.0,263019.0,264199.0,257080.0,258366.0,251011.0,252472.0,246171.0,247538.0,242860.0,243677.0,240646.0,240628.0,21.603,8.207,1720047.0,1606520.0,1663240.0,1449128.0,1260141.0,1186192.0,1138578.0,1081747.0,979719.0,863694.0,773845.0,729935.0,695030.0,601814.0,474663.0,352627.0,346639.0,2.954,97.6,44.0,35.919562,13455537.0,75.426,68.275,71.763293,0.219856,450.0,1773581.0,1656336.0,1694372.0,1459499.0,1266252.0,1178849.0,1120143.0,1049117.0,956349.0,833622.0,735176.0,672765.0,609441.0,493749.0,351141.0,230968.0,189001.0,71.0,23.6,15.0,26.6,17792.0,510.0,11284.0,19913.0,4989807.0,5124289.0,10.163625,10.900686,30.469725,29.484383,31.494624,10114096.0,9.492802,10.180081,9.827956,8.562785,8.970293,60.370158,10158009.0,60.022889,9881213.0,60.731369,20039222.0,7.446076,7.782569,7.009117,7.245377,6.727769,6.884561,6.391959,6.448025,5.789084,5.877860,5.103501,5.123562,4.572590,4.518498,4.313129,4.134911,4.106878,3.745713,9.160117,1775743.0,10.492728,1264859.0,7.774007,3040602.0,3.556072,3.034653,2.804747,2.158164,2.083646,1.419563,2.048263,1.161628,10.413856,16923559.0,50.983912,16270361.0,49.016088,33193920.0,56.0,4.206334e+06,12.672,-1.270185,82.61320,68.36800,3.8,28987586.0,87.328,1.802952
2,ARG,1992,73.2020,65.153818,15.309149,49.844669,362478.0,373727.0,348566.0,359870.0,352207.0,362657.0,341347.0,352050.0,333169.0,343992.0,327365.0,338169.0,323623.0,334282.0,321317.0,331723.0,319811.0,329887.0,320404.0,329966.0,323427.0,332258.0,327608.0,335556.0,331957.0,338999.0,337407.0,343525.0,337423.0,342608.0,328879.0,333152.0,314881.0,318287.0,301671.0,304196.0,288010.0,289598.0,276303.0,277263.0,268378.0,269181.0,263029.0,263962.0,257083.0,258122.0,251008.0,252220.0,246158.0,247279.0,242837.0,243412.0,21.366,8.145,1737767.0,1612520.0,1657822.0,1509744.0,1285656.0,1194985.0,1147884.0,1094125.0,1001175.0,883070.0,784635.0,730882.0,696931.0,614535.0,486501.0,358510.0,364843.0,2.913,97.6,44.0,35.821160,13605210.0,75.666,68.487,71.988951,0.210865,470.0,1792296.0,1664027.0,1692946.0,1522496.0,1290764.0,1190022.0,1130310.0,1062495.0,973231.0,853127.0,743594.0,672817.0,610120.0,503047.0,360313.0,233770.0,198189.0,69.0,22.8,14.7,25.7,17137.0,500.0,11027.0,19214.0,5008109.0,5149269.0,10.125912,10.866639,30.180755,29.182089,31.219869,10157378.0,9.396102,10.088947,9.660075,8.797229,9.230849,60.549615,10329087.0,60.187255,10048976.0,60.926650,20378063.0,7.491476,7.825865,6.963139,7.215069,6.688683,6.853037,6.375431,6.441876,5.833814,5.900671,5.145620,5.172484,4.572043,4.508389,4.258826,4.079270,4.060994,3.699140,9.269631,1824389.0,10.630656,1295319.0,7.853482,3119708.0,3.580876,3.049959,2.834826,2.184567,2.089026,1.417341,2.125928,1.201614,10.264282,17161585.0,50.992450,16493564.0,49.007550,33655149.0,56.0,4.192758e+06,12.458,-0.323273,82.89900,68.76400,3.5,29462391.0,87.542,1.624690
3,ARG,1993,72.5218,64.427990,15.417134,49.010855,357668.0,369652.0,348964.0,360675.0,342116.0,353578.0,348719.0,359325.0,340502.0,351227.0,333991.0,344752.0,329038.0,339745.0,325495.0,336052.0,322733.0,333071.0,320122.0,330196.0,319923.0,329526.0,322954.0,331811.0,327618.0,335541.0,332123.0,339111.0,337567.0,343604.0,337573.0,342654.0,329025.0,333171.0,315023.0,318280.0,301807.0,304161.0,288138.0,289531.0,276422.0,277172.0,268489.0,269074.0,263134.0,263845.0,257180.0,257996.0,251095.0,252083.0,246235.0,247133.0,21.097,8.082,1737969.0,1631379.0,1640185.0,1571566.0,1316320.0,1205739.0,1157727.0,1105234.0,1022480.0,903993.0,798173.0,733492.0,697837.0,627298.0,500098.0,365521.0,380995.0,2.866,97.7,44.0,36.131755,13815407.0,75.905,68.702,72.215659,0.194756,510.0,1794457.0,1683816.0,1679593.0,1587797.0,1320170.0,1203310.0,1140903.0,1075906.0,989683.0,874663.0,754988.0,674750.0,610467.0,512341.0,370521.0,237080.0,204461.0,65.0,22.1,14.4,24.8,16400.0,470.0,10666.0,18339.0,5009533.0,5157866.0,9.990621,10.735669,29.806881,28.797030,30.857882,10167399.0,9.377894,10.073739,9.428515,9.034062,9.499288,60.816896,10512561.0,60.430889,10232637.0,61.218633,20745198.0,7.566794,7.898160,6.931125,7.199023,6.655131,6.825662,6.353378,6.436806,5.877671,5.920961,5.196555,5.232832,4.588254,4.516855,4.216439,4.036816,4.011478,3.652231,9.376222,1873912.0,10.772082,1324403.0,7.923485,3198315.0,3.605989,3.065174,2.874786,2.216710,2.101178,1.418375,2.190129,1.223226,10.048474,17396006.0,50.998361,16714906.0,49.001639,34110912.0,56.0,4.177905e+06,12.248,-0.354883,83.10140,69.22720,3.6,29933007.0,87.752,1.584722
4,ARG,1994,71.8416,63.701944,15.502496,48.199448,351541.0,364110.0,348309.0,360346.0,345195.0,356816.0,342217.0,353508.0,345117.0,355876.0,339549.0,350293.0,334707.0,345406.0,330607.0,341214.0,327264.0,337719.0,324047.0,334315.0,320331.0,330402.0,319340.0,328983.0,322376.0,331257.0,327523.0,335422.0,332185.0,339115.0,337617.0,343575.0,337617.0,342594.0,329065.0,333086.0,315065.0,318173.0,301848.0,304029.0,288173.0,289374.0,276453.0,276994.0,268515.0,268881.0,263154.0,263646.0,257194.0,257788.0,251103.0,251867.0,20.804,8.021,1732379.0,1656174.0,1621755.0,1621212.0,1353489.0,1219539.0,1166976.0,1115219.0,1041960.0,925400.0,813508.0,737928.0,698516.0,638453.0,514511.0,374576.0,394610.0,2.815,97.7,44.0,36.290214,14044621.0,76.142,68.917,72.441390,0.189042,530.0,1790656.0,1708947.0,1665179.0,1641457.0,1356683.0,1219023.0,1151165.0,1088359.0,1005366.0,896064.0,768876.0,678614.0,611033.0,520505.0,380925.0,241717.0,207340.0,64.0,21.4,14.0,24.1,15616.0,460.0,10198.0,17555.0,5010308.0,5164782.0,9.828429,10.575630,29.443418,28.425336,30.503247,10175090.0,9.396090,10.093056,9.200818,9.197737,9.694459,61.086629,10693747.0,60.669594,10416640.0,61.520765,21110387.0,7.678845,8.012581,6.918897,7.199560,6.620688,6.798790,6.327051,6.427858,5.911426,5.937700,5.250138,5.292162,4.615333,4.540988,4.186539,4.007900,3.962940,3.608766,9.469953,1922150.0,10.905070,1350487.0,7.975988,3272637.0,3.622181,3.074107,2.919012,2.249746,2.125109,1.427583,2.238769,1.224552,9.834561,17626205.0,51.004534,16931909.0,48.995466,34558114.0,55.0,4.160797e+06,12.040,-0.410328,83.30380,69.69040,3.2,30397317.0,87.960,1.539256
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
835,ZAF,2009,55.8408,56.927368,7.832276,49.095091,565026.0,628927.0,553973.0,583267.0,543453.0,549901.0,533552.0,527392.0,527513.0,493899.0,517839.0,502394.0,509169.0,513812.0,501601.0,527057.0,495235.0,541031.0,489777.0,556798.0,484935.0,575421.0,482762.0,584999.0,484146.0,580118.0,488005.0,566159.0,491929.0,552886.0,495851.0,537101.0,500685.0,528215.0,506464.0,531500.0,512405.0,541709.0,517688.0,548826.0,522466.0,555442.0,524205.0,554967.0,521550.0,543298.0,515390.0,523990.0,508681.0,505678.0,501681.0,487808.0,21.777,14.043,2671649.0,2465750.0,2385465.0,2484852.0,2542923.0,2304668.0,1869145.0,1622534.0,1441773.0,1332122.0,1154453.0,944231.0,736018.0,544324.0,414993.0,289750.0,281478.0,2.500,99.2,967.0,44.358229,18182660.0,55.059,51.951,53.467098,0.367314,270.0,2730378.0,2590794.0,2805124.0,2636172.0,2632272.0,2162410.0,1697129.0,1669509.0,1518742.0,1234302.0,883455.0,618697.0,389797.0,322340.0,281774.0,194228.0,167667.0,148.0,41.1,11.9,63.5,50527.0,1600.0,14593.0,76073.0,7522865.0,8126296.0,10.482757,11.128598,31.285232,29.517486,33.121522,15649160.0,9.674872,10.559674,9.359856,9.749820,10.744628,63.723748,16432719.0,64.477107,15442485.0,62.941176,31875203.0,9.977675,10.728731,9.042832,8.813647,7.333970,6.917233,6.366341,6.804659,5.657089,6.190157,5.226851,5.030824,4.529731,3.600828,3.704884,2.521715,2.887915,1.588754,4.991021,1530546.0,6.005407,966009.0,3.937302,2496554.0,2.135767,1.313808,1.628310,1.148466,1.136892,0.791644,1.104437,0.683384,11.433250,25486129.0,50.950943,24534789.0,49.049057,50020918.0,808.0,1.916451e+07,38.313,0.077799,42.48877,35.68198,62.0,30856403.0,61.687,2.327174
836,ZAF,2010,54.1812,56.226658,7.891563,48.335095,561631.0,650588.0,554837.0,595900.0,547414.0,555429.0,539565.0,527550.0,531493.0,510643.0,523403.0,503080.0,515495.0,503241.0,507975.0,509499.0,501046.0,520233.0,494909.0,533818.0,489282.0,551331.0,483875.0,573853.0,481340.0,586247.0,482859.0,581488.0,487166.0,566058.0,491308.0,552363.0,495264.0,536601.0,500349.0,528049.0,506725.0,532147.0,513436.0,543431.0,519392.0,551515.0,524838.0,559091.0,526833.0,559158.0,523808.0,547380.0,516845.0,527506.0,509361.0,508629.0,21.534,13.635,2689919.0,2500969.0,2384611.0,2465812.0,2568723.0,2380684.0,1915391.0,1640374.0,1448376.0,1353644.0,1180868.0,972339.0,766173.0,558677.0,430334.0,294276.0,315692.0,2.467,99.2,948.0,44.234677,17987569.0,56.144,52.721,54.390756,0.380549,260.0,2793358.0,2527567.0,2811914.0,2648267.0,2699469.0,2288025.0,1729964.0,1649139.0,1524365.0,1279953.0,926498.0,654361.0,406398.0,310015.0,281166.0,190437.0,184067.0,154.0,38.2,11.7,53.8,47579.0,1700.0,14544.0,65444.0,7575499.0,8132838.0,10.399092,11.216068,30.939083,29.286501,32.655493,15708337.0,9.668623,10.148849,9.218786,9.532705,10.633491,64.009562,16692383.0,64.531923,15806439.0,63.467026,32498823.0,9.930556,10.839080,9.203608,9.187025,7.404806,6.946260,6.341604,6.621730,5.599348,6.120726,5.233120,5.139351,4.565176,3.720135,3.759014,2.627432,2.961985,1.631796,5.051355,1598980.0,6.181576,965685.0,3.877481,2564665.0,2.159819,1.244793,1.663652,1.128956,1.137655,0.764653,1.220451,0.739079,11.290577,25866862.0,50.947276,24904963.0,49.052724,50771826.0,789.0,1.918261e+07,37.782,0.094385,44.64391,37.13524,59.0,31589214.0,62.218,2.347145

In [102]:
test = test.rename({'variable':'Year'}, axis=1)
test = test.sort_values(by =['Country Code', 'Year'])
test

,Country Code,Year,"Adolescent fertility rate (births per 1,000 women ages 15-19)",Age dependency ratio (% of working-age population),"Age dependency ratio, old","Age dependency ratio, young","Age population, age 0, female, interpolated","Age population, age 0, male, interpolated","Age population, age 01, female, interpolated","Age population, age 01, male, interpolated","Age population, age 02, female, interpolated","Age population, age 02, male, interpolated","Age population, age 03, female, interpolated","Age population, age 03, male, interpolated","Age population, age 04, female, interpolated","Age population, age 04, male, interpolated","Age population, age 05, female, interpolated","Age population, age 05, male, interpolated","Age population, age 06, female, interpolated","Age population, age 06, male, interpolated","Age population, age 07, female, interpolated","Age population, age 07, male, interpolated","Age population, age 08, female, interpolated","Age population, age 08, male, interpolated","Age population, age 09, female, interpolated","Age population, age 09, male, interpolated","Age population, age 10, female, interpolated","Age population, age 10, male, interpolated","Age population, age 11, female, interpolated","Age population, age 11, male, interpolated","Age population, age 12, female, interpolated","Age population, age 12, male, interpolated","Age population, age 13, female, interpolated","Age population, age 13, male, interpolated","Age population, age 14, female, interpolated","Age population, age 14, male, interpolated","Age population, age 15, female, interpolated","Age population, age 15, male, interpolated","Age population, age 16, female, interpolated","Age population, age 16, male, interpolated","Age population, age 17, female, interpolated","Age population, age 17, male, interpolated","Age population, age 18, female, interpolated","Age population, age 18, male, interpolated","Age population, age 19, female, interpolated","Age population, age 19, male, interpolated","Age population, age 20, female, interpolated","Age population, age 20, male, interpolated","Age population, age 21, female, interpolated","Age population, age 21, male, interpolated","Age population, age 22, female, interpolated","Age population, age 22, male, interpolated","Age population, age 23, female, interpolated","Age population, age 23, male, interpolated","Age population, age 24, female, interpolated","Age population, age 24, male, interpolated","Age population, age 25, female, interpolated","Age population, age 25, male, interpolated","Birth rate, crude (per 1,000 people)","Death rate, crude (per 1,000 people)",Female population 00-04,Female population 05-09,Female population 10-14,Female population 15-19,Female population 20-24,Female population 25-29,Female population 30-34,Female population 35-39,Female population 40-44,Female population 45-49,Female population 50-54,Female population 55-59,Female population 60-64,Female population 65-69,Female population 70-74,Female population 75-79,Female population 80+,"Fertility rate, total (births per woman)","Improved water source, urban (% of urban population with access)","Incidence of tuberculosis (per 100,000 people)","Labor force, female (% of total labor force)","Labor force, total","Life expectancy at birth, female (years)","Life expectancy at birth, male (years)","Life expectancy at birth, total (years)",Lifetime risk of maternal death (%),Lifetime risk of maternal death (1 in: rate varies by country),Male population 00-04,Male population 05-09,Male population 10-14,Male population 15-19,Male population 20-24,Male population 25-29,Male population 30-34,Male population 35-39,Male population 40-44,Male population 45-49,Male population 50-54,Male population 55-59,Male population 60-64,Male population 65-69,Male population 70-74,Male population 75-79,Male population 80+,"Maternal mortality ratio (modeled estimate, per 100,000 live births)","Mortality rate, infant (per 1,000 live births)","Mortality rate, neonatal (per 1,000 live births)","Mortality rate, under-5 (per 1,000)",Number of infant deaths,Number of maternal deaths,Number of neonatal deaths,Number of under-five deaths,"Population ages 0-14, female","Population ages 0-14, male","Population ages 00-04, female (% of female population)","Population ages 00-04, male (% of male population)",Population ages 00-14 (% of total),"Population ages 00-14, female (% of total)","Population ages 00-14, male (% of total)","Population ages 00-14, total","Population ages 05-09, female (% of female population)","Population ages 05-09, male (% of male population)","Population ages 10-14, female (% of female population)","Population ages 15-19, female (% of female population)","Population ages 15-19, male (% of male population)",Population ages 15-64 (% of total),"Population ages 15-64, female","Population ages 15-64, female (% of total)","Population ages 15-64, male","Population ages 15-64, male (% of total)","Population ages 15-64, total","Population ages 20-24, female (% of female population)","Population ages 20-24, male (% of male population)","Population ages 25-29, female (% of female population)","Population ages 25-29, male (% of male population)","Population ages 30-34, female (% of female population)","Population ages 30-34, male (% of male population)","Population ages 35-39, female (% of female population)","Population ages 35-39, male (% of male population)","Population ages 40-44, female (% of female population)","Population ages 40-44, male (% of male population)","Population ages 45-49, female (% of female population)","Population ages 45-49, male (% of male population)","Population ages 50-54, female (% of female population)","Population ages 50-54, male (% of male population)","Population ages 55-59, female (% of female population)","Population ages 55-59, male (% of male population)","Population ages 60-64, female (% of female population)","Population ages 60-64, male (% of male population)",Population ages 65 and above (% of total),"Population ages 65 and above, female","Population ages 65 and above, female (% of total)","Population ages 65 and above, male","Population ages 65 and above, male (% of total)","Population ages 65 and above, total","Population ages 65-69, female (% of female population)","Population ages 65-69, male (% of male population)","Population ages 70-74, female (% of female population)","Population ages 70-74, male (% of male population)","Population ages 75-79, female (% of female population)","Population ages 75-79, male (% of male population)","Population ages 80 and older, female (% of female population)","Population ages 80 and older, male (% of male population)","Population ages10-14, male (% of male population)","Population, female","Population, female (% of total)","Population, male","Population, male (% of total)","Population, total","Prevalence of tuberculosis (per 100,000 population)",Rural population,Rural population (% of total population),Rural population growth (annual %),"Survival to age 65, female (% of cohort)","Survival to age 65, male (% of cohort)","Tuberculosis death rate (per 100,000 people)",Urban population,Urban population (% of total),Urban population growth (annual %)
0,ARG,1990,73.2812,65.745925,15.005772,50.740153,359710.0,369990.0,343547.0,354348.0,332025.0,343104.0,324509.0,335643.0,320367.0,331360.0,318966.0,329640.0,319669.0,329876.0,321845.0,331455.0,324860.0,333768.0,328079.0,336205.0,332120.0,339403.0,337596.0,344001.0,337627.0,343146.0,329080.0,333730.0,315068.0,318888.0,301851.0,304828.0,288188.0,290266.0,276479.0,277959.0,268556.0,269892.0,263214.0,264683.0,257276.0,258851.0,251210.0,252960.0,246375.0,248028.0,243073.0,244169.0,240871.0,241124.0,238984.0,238455.0,21.804,8.264,1680158.0,1613419.0,1651491.0,1398288.0,1238805.0,1178533.0,1130387.0,1068011.0,959216.0,846558.0,766346.0,730456.0,691645.0,590231.0,465300.0,346920.0,326773.0,2.989,97.5,43.0,36.099471,13330838.0,75.191,68.070,71.543659,0.225988,440.0,1734445.0,1660944.0,1679168.0,1407628.0,1245132.0,1169458.0,1110793.0,1036351.0,939320.0,817544.0,729989.0,674479.0,607996.0,485080.0,343660.0,227714.0,177502.0,72.0,24.4,15.4,27.6,18204.0,510.0,11463.0,20410.0,4945068.0,5074557.0,10.071358,10.808394,30.613213,29.642182,31.622688,10019625.0,9.671305,10.350364,9.899519,8.381747,8.771797,60.333308,10008245.0,59.992344,9738690.0,60.687772,19746935.0,7.425759,7.759184,7.064471,7.287613,6.775870,6.922035,6.401970,6.458141,5.749821,5.853481,5.074516,5.094620,4.593702,4.549011,4.378567,4.203094,4.145922,3.788797,9.053479,1729224.0,10.365474,1233956.0,7.689539,2963180.0,3.538017,3.022832,2.789144,2.141557,2.079540,1.419026,1.958773,1.106124,10.463929,16682537.0,50.970576,16047203.0,49.029424,32729740.0,55.0,4.260103e+06,13.016,-1.375903,82.32740,67.97200,4.2,28469637.0,86.984,1.862004
1,ARG,1991,73.2416,65.644754,15.173254,50.471500,363636.0,374258.0,355819.0,366151.0,342313.0,353034.0,332468.0,343388.0,325811.0,336750.0,321870.0,332666.0,320017.0,330528.0,319616.0,329728.0,320999.0,330556.0,324018.0,332858.0,327715.0,335724.0,331909.0,339043.0,337371.0,343603.0,337393.0,342717.0,328852.0,333285.0,314852.0,318439.0,301643.0,304370.0,287987.0,289797.0,276284.0,277482.0,268362.0,269411.0,263019.0,264199.0,257080.0,258366.0,251011.0,252472.0,246171.0,247538.0,242860.0,243677.0,240646.0,240628.0,21.603,8.207,1720047.0,1606520.0,1663240.0,1449128.0,1260141.0,1186192.0,1138578.0,1081747.0,979719.0,863694.0,773845.0,729935.0,695030.0,601814.0,474663.0,352627.0,346639.0,2.954,97.6,44.0,35.919562,13455537.0,75.426,68.275,71.763293,0.219856,450.0,1773581.0,1656336.0,1694372.0,1459499.0,1266252.0,1178849.0,1120143.0,1049117.0,956349.0,833622.0,735176.0,672765.0,609441.0,493749.0,351141.0,230968.0,189001.0,71.0,23.6,15.0,26.6,17792.0,510.0,11284.0,19913.0,4989807.0,5124289.0,10.163625,10.900686,30.469725,29.484383,31.494624,10114096.0,9.492802,10.180081,9.827956,8.562785,8.970293,60.370158,10158009.0,60.022889,9881213.0,60.731369,20039222.0,7.446076,7.782569,7.009117,7.245377,6.727769,6.884561,6.391959,6.448025,5.789084,5.877860,5.103501,5.123562,4.572590,4.518498,4.313129,4.134911,4.106878,3.745713,9.160117,1775743.0,10.492728,1264859.0,7.774007,3040602.0,3.556072,3.034653,2.804747,2.158164,2.083646,1.419563,2.048263,1.161628,10.413856,16923559.0,50.983912,16270361.0,49.016088,33193920.0,56.0,4.206334e+06,12.672,-1.270185,82.61320,68.36800,3.8,28987586.0,87.328,1.802952
2,ARG,1992,73.2020,65.153818,15.309149,49.844669,362478.0,373727.0,348566.0,359870.0,352207.0,362657.0,341347.0,352050.0,333169.0,343992.0,327365.0,338169.0,323623.0,334282.0,321317.0,331723.0,319811.0,329887.0,320404.0,329966.0,323427.0,332258.0,327608.0,335556.0,331957.0,338999.0,337407.0,343525.0,337423.0,342608.0,328879.0,333152.0,314881.0,318287.0,301671.0,304196.0,288010.0,289598.0,276303.0,277263.0,268378.0,269181.0,263029.0,263962.0,257083.0,258122.0,251008.0,252220.0,246158.0,247279.0,242837.0,243412.0,21.366,8.145,1737767.0,1612520.0,1657822.0,1509744.0,1285656.0,1194985.0,1147884.0,1094125.0,1001175.0,883070.0,784635.0,730882.0,696931.0,614535.0,486501.0,358510.0,364843.0,2.913,97.6,44.0,35.821160,13605210.0,75.666,68.487,71.988951,0.210865,470.0,1792296.0,1664027.0,1692946.0,1522496.0,1290764.0,1190022.0,1130310.0,1062495.0,973231.0,853127.0,743594.0,672817.0,610120.0,503047.0,360313.0,233770.0,198189.0,69.0,22.8,14.7,25.7,17137.0,500.0,11027.0,19214.0,5008109.0,5149269.0,10.125912,10.866639,30.180755,29.182089,31.219869,10157378.0,9.396102,10.088947,9.660075,8.797229,9.230849,60.549615,10329087.0,60.187255,10048976.0,60.926650,20378063.0,7.491476,7.825865,6.963139,7.215069,6.688683,6.853037,6.375431,6.441876,5.833814,5.900671,5.145620,5.172484,4.572043,4.508389,4.258826,4.079270,4.060994,3.699140,9.269631,1824389.0,10.630656,1295319.0,7.853482,3119708.0,3.580876,3.049959,2.834826,2.184567,2.089026,1.417341,2.125928,1.201614,10.264282,17161585.0,50.992450,16493564.0,49.007550,33655149.0,56.0,4.192758e+06,12.458,-0.323273,82.89900,68.76400,3.5,29462391.0,87.542,1.624690
3,ARG,1993,72.5218,64.427990,15.417134,49.010855,357668.0,369652.0,348964.0,360675.0,342116.0,353578.0,348719.0,359325.0,340502.0,351227.0,333991.0,344752.0,329038.0,339745.0,325495.0,336052.0,322733.0,333071.0,320122.0,330196.0,319923.0,329526.0,322954.0,331811.0,327618.0,335541.0,332123.0,339111.0,337567.0,343604.0,337573.0,342654.0,329025.0,333171.0,315023.0,318280.0,301807.0,304161.0,288138.0,289531.0,276422.0,277172.0,268489.0,269074.0,263134.0,263845.0,257180.0,257996.0,251095.0,252083.0,246235.0,247133.0,21.097,8.082,1737969.0,1631379.0,1640185.0,1571566.0,1316320.0,1205739.0,1157727.0,1105234.0,1022480.0,903993.0,798173.0,733492.0,697837.0,627298.0,500098.0,365521.0,380995.0,2.866,97.7,44.0,36.131755,13815407.0,75.905,68.702,72.215659,0.194756,510.0,1794457.0,1683816.0,1679593.0,1587797.0,1320170.0,1203310.0,1140903.0,1075906.0,989683.0,874663.0,754988.0,674750.0,610467.0,512341.0,370521.0,237080.0,204461.0,65.0,22.1,14.4,24.8,16400.0,470.0,10666.0,18339.0,5009533.0,5157866.0,9.990621,10.735669,29.806881,28.797030,30.857882,10167399.0,9.377894,10.073739,9.428515,9.034062,9.499288,60.816896,10512561.0,60.430889,10232637.0,61.218633,20745198.0,7.566794,7.898160,6.931125,7.199023,6.655131,6.825662,6.353378,6.436806,5.877671,5.920961,5.196555,5.232832,4.588254,4.516855,4.216439,4.036816,4.011478,3.652231,9.376222,1873912.0,10.772082,1324403.0,7.923485,3198315.0,3.605989,3.065174,2.874786,2.216710,2.101178,1.418375,2.190129,1.223226,10.048474,17396006.0,50.998361,16714906.0,49.001639,34110912.0,56.0,4.177905e+06,12.248,-0.354883,83.10140,69.22720,3.6,29933007.0,87.752,1.584722
4,ARG,1994,71.8416,63.701944,15.502496,48.199448,351541.0,364110.0,348309.0,360346.0,345195.0,356816.0,342217.0,353508.0,345117.0,355876.0,339549.0,350293.0,334707.0,345406.0,330607.0,341214.0,327264.0,337719.0,324047.0,334315.0,320331.0,330402.0,319340.0,328983.0,322376.0,331257.0,327523.0,335422.0,332185.0,339115.0,337617.0,343575.0,337617.0,342594.0,329065.0,333086.0,315065.0,318173.0,301848.0,304029.0,288173.0,289374.0,276453.0,276994.0,268515.0,268881.0,263154.0,263646.0,257194.0,257788.0,251103.0,251867.0,20.804,8.021,1732379.0,1656174.0,1621755.0,1621212.0,1353489.0,1219539.0,1166976.0,1115219.0,1041960.0,925400.0,813508.0,737928.0,698516.0,638453.0,514511.0,374576.0,394610.0,2.815,97.7,44.0,36.290214,14044621.0,76.142,68.917,72.441390,0.189042,530.0,1790656.0,1708947.0,1665179.0,1641457.0,1356683.0,1219023.0,1151165.0,1088359.0,1005366.0,896064.0,768876.0,678614.0,611033.0,520505.0,380925.0,241717.0,207340.0,64.0,21.4,14.0,24.1,15616.0,460.0,10198.0,17555.0,5010308.0,5164782.0,9.828429,10.575630,29.443418,28.425336,30.503247,10175090.0,9.396090,10.093056,9.200818,9.197737,9.694459,61.086629,10693747.0,60.669594,10416640.0,61.520765,21110387.0,7.678845,8.012581,6.918897,7.199560,6.620688,6.798790,6.327051,6.427858,5.911426,5.937700,5.250138,5.292162,4.615333,4.540988,4.186539,4.007900,3.962940,3.608766,9.469953,1922150.0,10.905070,1350487.0,7.975988,3272637.0,3.622181,3.074107,2.919012,2.249746,2.125109,1.427583,2.238769,1.224552,9.834561,17626205.0,51.004534,16931909.0,48.995466,34558114.0,55.0,4.160797e+06,12.040,-0.410328,83.30380,69.69040,3.2,30397317.0,87.960,1.539256
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
835,ZAF,2009,55.8408,56.927368,7.832276,49.095091,565026.0,628927.0,553973.0,583267.0,543453.0,549901.0,533552.0,527392.0,527513.0,493899.0,517839.0,502394.0,509169.0,513812.0,501601.0,527057.0,495235.0,541031.0,489777.0,556798.0,484935.0,575421.0,482762.0,584999.0,484146.0,580118.0,488005.0,566159.0,491929.0,552886.0,495851.0,537101.0,500685.0,528215.0,506464.0,531500.0,512405.0,541709.0,517688.0,548826.0,522466.0,555442.0,524205.0,554967.0,521550.0,543298.0,515390.0,523990.0,508681.0,505678.0,501681.0,487808.0,21.777,14.043,2671649.0,2465750.0,2385465.0,2484852.0,2542923.0,2304668.0,1869145.0,1622534.0,1441773.0,1332122.0,1154453.0,944231.0,736018.0,544324.0,414993.0,289750.0,281478.0,2.500,99.2,967.0,44.358229,18182660.0,55.059,51.951,53.467098,0.367314,270.0,2730378.0,2590794.0,2805124.0,2636172.0,2632272.0,2162410.0,1697129.0,1669509.0,1518742.0,1234302.0,883455.0,618697.0,389797.0,322340.0,281774.0,194228.0,167667.0,148.0,41.1,11.9,63.5,50527.0,1600.0,14593.0,76073.0,7522865.0,8126296.0,10.482757,11.128598,31.285232,29.517486,33.121522,15649160.0,9.674872,10.559674,9.359856,9.749820,10.744628,63.723748,16432719.0,64.477107,15442485.0,62.941176,31875203.0,9.977675,10.728731,9.042832,8.813647,7.333970,6.917233,6.366341,6.804659,5.657089,6.190157,5.226851,5.030824,4.529731,3.600828,3.704884,2.521715,2.887915,1.588754,4.991021,1530546.0,6.005407,966009.0,3.937302,2496554.0,2.135767,1.313808,1.628310,1.148466,1.136892,0.791644,1.104437,0.683384,11.433250,25486129.0,50.950943,24534789.0,49.049057,50020918.0,808.0,1.916451e+07,38.313,0.077799,42.48877,35.68198,62.0,30856403.0,61.687,2.327174
836,ZAF,2010,54.1812,56.226658,7.891563,48.335095,561631.0,650588.0,554837.0,595900.0,547414.0,555429.0,539565.0,527550.0,531493.0,510643.0,523403.0,503080.0,515495.0,503241.0,507975.0,509499.0,501046.0,520233.0,494909.0,533818.0,489282.0,551331.0,483875.0,573853.0,481340.0,586247.0,482859.0,581488.0,487166.0,566058.0,491308.0,552363.0,495264.0,536601.0,500349.0,528049.0,506725.0,532147.0,513436.0,543431.0,519392.0,551515.0,524838.0,559091.0,526833.0,559158.0,523808.0,547380.0,516845.0,527506.0,509361.0,508629.0,21.534,13.635,2689919.0,2500969.0,2384611.0,2465812.0,2568723.0,2380684.0,1915391.0,1640374.0,1448376.0,1353644.0,1180868.0,972339.0,766173.0,558677.0,430334.0,294276.0,315692.0,2.467,99.2,948.0,44.234677,17987569.0,56.144,52.721,54.390756,0.380549,260.0,2793358.0,2527567.0,2811914.0,2648267.0,2699469.0,2288025.0,1729964.0,1649139.0,1524365.0,1279953.0,926498.0,654361.0,406398.0,310015.0,281166.0,190437.0,184067.0,154.0,38.2,11.7,53.8,47579.0,1700.0,14544.0,65444.0,7575499.0,8132838.0,10.399092,11.216068,30.939083,29.286501,32.655493,15708337.0,9.668623,10.148849,9.218786,9.532705,10.633491,64.009562,16692383.0,64.531923,15806439.0,63.467026,32498823.0,9.930556,10.839080,9.203608,9.187025,7.404806,6.946260,6.341604,6.621730,5.599348,6.120726,5.233120,5.139351,4.565176,3.720135,3.759014,2.627432,2.961985,1.631796,5.051355,1598980.0,6.181576,965685.0,3.877481,2564665.0,2.159819,1.244793,1.663652,1.128956,1.137655,0.764653,1.220451,0.739079,11.290577,25866862.0,50.947276,24904963.0,49.052724,50771826.0,789.0,1.918261e+07,37.782,0.094385,44.64391,37.13524,59.0,31589214.0,62.218,2.347145

In [103]:
test.columns

Index(['Country Code', 'Year',
       'Adolescent fertility rate (births per 1,000 women ages 15-19)',
       'Age dependency ratio (% of working-age population)',
       'Age dependency ratio, old', 'Age dependency ratio, young',
       'Age population, age 0, female, interpolated',
       'Age population, age 0, male, interpolated',
       'Age population, age 01, female, interpolated',
       'Age population, age 01, male, interpolated',
       ...
       'Prevalence of tuberculosis (per 100,000 population)',
       'Rural population', 'Rural population (% of total population)',
       'Rural population growth (annual %)',
       'Survival to age 65, female (% of cohort)',
       'Survival to age 65, male (% of cohort)',
       'Tuberculosis death rate (per 100,000 people)', 'Urban population',
       'Urban population (% of total)', 'Urban population growth (annual %)'],
      dtype='object', length=179)

In [104]:
test_clean = test[['Country Code', 'Year', 'Adolescent fertility rate (births per 1,000 women ages 15-19)', 'Fertility rate, total (births per woman)',
                  'Number of infant deaths', 'Number of maternal deaths', 'Prevalence of tuberculosis (per 100,000 population)',
                  'Rural population', 'Rural population (% of total population)', 'Rural population growth (annual %)',
                  'Urban population', 'Urban population (% of total)', 'Urban population growth (annual %)']]
test_clean

,Country Code,Year,"Adolescent fertility rate (births per 1,000 women ages 15-19)","Fertility rate, total (births per woman)",Number of infant deaths,Number of maternal deaths,"Prevalence of tuberculosis (per 100,000 population)",Rural population,Rural population (% of total population),Rural population growth (annual %),Urban population,Urban population (% of total),Urban population growth (annual %)
0,ARG,1990,73.2812,2.989,18204.0,510.0,55.0,4.260103e+06,13.016,-1.375903,28469637.0,86.984,1.862004
1,ARG,1991,73.2416,2.954,17792.0,510.0,56.0,4.206334e+06,12.672,-1.270185,28987586.0,87.328,1.802952
2,ARG,1992,73.2020,2.913,17137.0,500.0,56.0,4.192758e+06,12.458,-0.323273,29462391.0,87.542,1.624690
3,ARG,1993,72.5218,2.866,16400.0,470.0,56.0,4.177905e+06,12.248,-0.354883,29933007.0,87.752,1.584722
4,ARG,1994,71.8416,2.815,15616.0,460.0,55.0,4.160797e+06,12.040,-0.410328,30397317.0,87.960,1.539256
...,...,...,...,...,...,...,...,...,...,...,...,...,...
835,ZAF,2009,55.8408,2.500,50527.0,1600.0,808.0,1.916451e+07,38.313,0.077799,30856403.0,61.687,2.327174
836,ZAF,2010,54.1812,2.467,47579.0,1700.0,789.0,1.918261e+07,37.782,0.094385,31589214.0,62.218,2.347145
837,ZAF,2011,52.5216,2.438,45371.0,1700.0,713.0,1.920442e+07,37.254,0.113630,32345537.0,62.746,2.366032
838,ZAF,2012,50.8620,2.412,43148.0,1700.0,705.0,1.922945e+07,36.728,0.130253,33126929.0,63.272,2.387046
839,ZAF,2013,48.7214,2.387,39074.0,1600.0,706.0,1.926197e+07,36.212,0.168939,33930251.0,63.788,2.396046

In [105]:
test_clean.dtypes

Country Code                                                      object
Year                                                              object
Adolescent fertility rate (births per 1,000 women ages 15-19)    float64
Fertility rate, total (births per woman)                         float64
Number of infant deaths                                          float64
Number of maternal deaths                                        float64
Prevalence of tuberculosis (per 100,000 population)              float64
Rural population                                                 float64
Rural population (% of total population)                         float64
Rural population growth (annual %)                               float64
Urban population                                                 float64
Urban population (% of total)                                    float64
Urban population growth (annual %)                               float64
dtype: object

In [106]:
merged_data = pd.merge(merged_data, test_clean, on=['Country Code', 'Year'], how = 'left')
merged_data

,Country Code,Meat_Type,Year,KG_Consumer_Per_Capita,Country Name,Population,GDP per Capita PPP,MtCO2e,Life Expectancy,"Adolescent fertility rate (births per 1,000 women ages 15-19)","Fertility rate, total (births per woman)",Number of infant deaths,Number of maternal deaths,"Prevalence of tuberculosis (per 100,000 population)",Rural population,Rural population (% of total population),Rural population growth (annual %),Urban population,Urban population (% of total),Urban population growth (annual %)
0,AUS,BEEF,1990,0.000004,Australia,17065100.0,17329.70661,558.21,76.994634,20.9650,1.902,1870.0,21.0,8.3,2491505.0,14.600,1.480010,14573595.0,85.400,1.479972
1,AUS,BEEF,1991,27.808401,Australia,17284000.0,17790.98014,558.13,77.275610,20.9200,1.849,1760.0,21.0,8.4,2523464.0,14.600,1.274562,14760536.0,85.400,1.274580
2,AUS,BEEF,1992,26.278166,Australia,17495000.0,18189.37874,560.3,77.378049,20.8750,1.888,1691.0,21.0,8.4,2525228.0,14.434,0.069879,14969772.0,85.566,1.407583
3,AUS,BEEF,1993,26.244478,Australia,17667000.0,19131.84187,559.98,77.878049,20.5906,1.859,1627.0,21.0,8.4,2517901.0,14.252,-0.290574,15149099.0,85.748,1.190809
4,AUS,BEEF,1994,25.541244,Australia,17855000.0,20064.45901,563.06,77.878049,20.3062,1.842,1577.0,21.0,8.4,2512556.0,14.072,-0.212506,15342444.0,85.928,1.268205
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3327,GBR,SHEEP,2009,4.915320,United Kingdom,62276270.0,35003.49742,570.73,80.051220,22.6162,1.890,4016.0,82.0,18.0,11813186.0,18.969,-0.677735,50463084.0,81.031,1.095105
3328,GBR,SHEEP,2010,4.352106,United Kingdom,62766365.0,36340.73387,583.6,80.402439,21.1118,1.920,3917.0,80.0,18.0,11736055.0,18.698,-0.655064,51030310.0,81.302,1.117771
3329,GBR,SHEEP,2011,4.123211,United Kingdom,63258918.0,37161.49069,540.98,80.951220,19.6074,1.910,3704.0,77.0,17.0,11658619.0,18.430,-0.661999,51600299.0,81.570,1.110770
3330,GBR,SHEEP,2012,3.880044,United Kingdom,63700300.0,38311.84608,562.45,80.904878,18.1030,1.920,3498.0,77.0,17.0,11571796.0,18.166,-0.747498,52128504.0,81.834,1.018443
3331,GBR,SHEEP,2013,4.093783,United Kingdom,64106779.0,39971.02536,543.71,81.004878,16.7186,1.830,3173.0,76.0,16.0,11484083.0,17.908,-0.760877,52644143.0,82.092,0.984309

In [107]:
#merged_data.to_csv('/Users/nicholaslandi/Desktop/DataVizCode/final_dataset.csv', index=False)

In [108]:
#merged_data['Adolescent fertility rate (births per 1,000 women ages 15-19)'].describe()

In [109]:
#merged_data['Number of maternal deaths'].describe()

In [110]:
#need to convert some of the numeric variables to categorical

In [111]:
#merged_data['Rural population (% of total population)'].describe()

In [112]:
#merged_data['Rural population growth (annual %)'].describe()

In [113]:
merged_data['Urban population (% of total)'].describe()

count    3332.000000
mean       63.651242
std        20.823457
min        13.370000
25%        46.732000
50%        71.834000
75%        79.757000
max        92.491000
Name: Urban population (% of total), dtype: float64

In [114]:
merged_data['Urban population growth (annual %)'].describe()

count    3332.000000
mean        2.087039
std         1.330037
min        -1.714699
25%         1.227707
50%         1.915582
75%         2.995269
max         6.132051
Name: Urban population growth (annual %), dtype: float64

In [115]:
#merged_data['Urban population growth (annual %)'].value_counts()

In [116]:
merged_data['percent_urban_population_bins'] = pd.cut(merged_data['Urban population (% of total)']
                                                      , bins=[0,20,40,60,80,100]
                                                      , labels=("20 or smaller", "20-40", "40-60", "60-80", "80 or greater"))

In [117]:
merged_data.head()

,Country Code,Meat_Type,Year,KG_Consumer_Per_Capita,Country Name,Population,GDP per Capita PPP,MtCO2e,Life Expectancy,"Adolescent fertility rate (births per 1,000 women ages 15-19)","Fertility rate, total (births per woman)",Number of infant deaths,Number of maternal deaths,"Prevalence of tuberculosis (per 100,000 population)",Rural population,Rural population (% of total population),Rural population growth (annual %),Urban population,Urban population (% of total),Urban population growth (annual %),percent_urban_population_bins
0,AUS,BEEF,1990,0.000004,Australia,17065100.0,17329.70661,558.21,76.994634,20.9650,1.902,1870.0,21.0,8.3,2491505.0,14.600,1.480010,14573595.0,85.400,1.479972,80 or greater
1,AUS,BEEF,1991,27.808401,Australia,17284000.0,17790.98014,558.13,77.275610,20.9200,1.849,1760.0,21.0,8.4,2523464.0,14.600,1.274562,14760536.0,85.400,1.274580,80 or greater
2,AUS,BEEF,1992,26.278166,Australia,17495000.0,18189.37874,560.3,77.378049,20.8750,1.888,1691.0,21.0,8.4,2525228.0,14.434,0.069879,14969772.0,85.566,1.407583,80 or greater
3,AUS,BEEF,1993,26.244478,Australia,17667000.0,19131.84187,559.98,77.878049,20.5906,1.859,1627.0,21.0,8.4,2517901.0,14.252,-0.290574,15149099.0,85.748,1.190809,80 or greater
4,AUS,BEEF,1994,25.541244,Australia,17855000.0,20064.45901,563.06,77.878049,20.3062,1.842,1577.0,21.0,8.4,2512556.0,14.072,-0.212506,15342444.0,85.928,1.268205,80 or greater

In [118]:
merged_data['percent_urban_population_bins'].value_counts()

60-80            1280
80 or greater     792
40-60             660
20-40             516
20 or smaller      84
Name: percent_urban_population_bins, dtype: int64

In [119]:
merged_data['percent_urban_population_annual_growth_bins'] = pd.cut(merged_data['Urban population growth (annual %)']
                                                      , bins=[-5,0,2,10]
                                                      , labels=("0% or less", "0 to 2%", "2% or more"))

In [120]:
merged_data['percent_urban_population_annual_growth_bins'].value_counts()

0 to 2%       1584
2% or more    1572
0% or less     176
Name: percent_urban_population_annual_growth_bins, dtype: int64

In [121]:
#merged_data.to_csv('/Users/nicholaslandi/Desktop/DataVizCode/final_dataset.csv', index=False)

In [122]:
merged_data.columns

Index(['Country Code', 'Meat_Type', 'Year', 'KG_Consumer_Per_Capita',
       'Country Name', 'Population', 'GDP per Capita PPP', 'MtCO2e',
       'Life Expectancy',
       'Adolescent fertility rate (births per 1,000 women ages 15-19)',
       'Fertility rate, total (births per woman)', 'Number of infant deaths',
       'Number of maternal deaths',
       'Prevalence of tuberculosis (per 100,000 population)',
       'Rural population', 'Rural population (% of total population)',
       'Rural population growth (annual %)', 'Urban population',
       'Urban population (% of total)', 'Urban population growth (annual %)',
       'percent_urban_population_bins',
       'percent_urban_population_annual_growth_bins'],
      dtype='object')

In [123]:
merged_data['KG_Consumer_Per_Capita'].describe()

count    3.332000e+03
mean     9.859388e+00
std      1.072217e+01
min      7.505680e-08
25%      1.370334e+00
50%      5.961535e+00
75%      1.492359e+01
max      6.607637e+01
Name: KG_Consumer_Per_Capita, dtype: float64

In [124]:
merged_data['Life Expectancy'].describe()

count    3332.000000
mean       71.252681
std         7.641997
min        45.841000
25%        67.570000
50%        72.259000
75%        76.994634
max        83.331951
Name: Life Expectancy, dtype: float64

In [125]:
merged_data['GDP per Capita PPP'].describe()

count     3332.000000
mean     15209.509274
std      13109.568556
min        396.471751
25%       5443.412266
50%      10044.190630
75%      22500.477590
max      66961.253100
Name: GDP per Capita PPP, dtype: float64

In [126]:
merged_data

,Country Code,Meat_Type,Year,KG_Consumer_Per_Capita,Country Name,Population,GDP per Capita PPP,MtCO2e,Life Expectancy,"Adolescent fertility rate (births per 1,000 women ages 15-19)","Fertility rate, total (births per woman)",Number of infant deaths,Number of maternal deaths,"Prevalence of tuberculosis (per 100,000 population)",Rural population,Rural population (% of total population),Rural population growth (annual %),Urban population,Urban population (% of total),Urban population growth (annual %),percent_urban_population_bins,percent_urban_population_annual_growth_bins
0,AUS,BEEF,1990,0.000004,Australia,17065100.0,17329.70661,558.21,76.994634,20.9650,1.902,1870.0,21.0,8.3,2491505.0,14.600,1.480010,14573595.0,85.400,1.479972,80 or greater,0 to 2%
1,AUS,BEEF,1991,27.808401,Australia,17284000.0,17790.98014,558.13,77.275610,20.9200,1.849,1760.0,21.0,8.4,2523464.0,14.600,1.274562,14760536.0,85.400,1.274580,80 or greater,0 to 2%
2,AUS,BEEF,1992,26.278166,Australia,17495000.0,18189.37874,560.3,77.378049,20.8750,1.888,1691.0,21.0,8.4,2525228.0,14.434,0.069879,14969772.0,85.566,1.407583,80 or greater,0 to 2%
3,AUS,BEEF,1993,26.244478,Australia,17667000.0,19131.84187,559.98,77.878049,20.5906,1.859,1627.0,21.0,8.4,2517901.0,14.252,-0.290574,15149099.0,85.748,1.190809,80 or greater,0 to 2%
4,AUS,BEEF,1994,25.541244,Australia,17855000.0,20064.45901,563.06,77.878049,20.3062,1.842,1577.0,21.0,8.4,2512556.0,14.072,-0.212506,15342444.0,85.928,1.268205,80 or greater,0 to 2%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3327,GBR,SHEEP,2009,4.915320,United Kingdom,62276270.0,35003.49742,570.73,80.051220,22.6162,1.890,4016.0,82.0,18.0,11813186.0,18.969,-0.677735,50463084.0,81.031,1.095105,80 or greater,0 to 2%
3328,GBR,SHEEP,2010,4.352106,United Kingdom,62766365.0,36340.73387,583.6,80.402439,21.1118,1.920,3917.0,80.0,18.0,11736055.0,18.698,-0.655064,51030310.0,81.302,1.117771,80 or greater,0 to 2%
3329,GBR,SHEEP,2011,4.123211,United Kingdom,63258918.0,37161.49069,540.98,80.951220,19.6074,1.910,3704.0,77.0,17.0,11658619.0,18.430,-0.661999,51600299.0,81.570,1.110770,80 or greater,0 to 2%
3330,GBR,SHEEP,2012,3.880044,United Kingdom,63700300.0,38311.84608,562.45,80.904878,18.1030,1.920,3498.0,77.0,17.0,11571796.0,18.166,-0.747498,52128504.0,81.834,1.018443,80 or greater,0 to 2%
3331,GBR,SHEEP,2013,4.093783,United Kingdom,64106779.0,39971.02536,543.71,81.004878,16.7186,1.830,3173.0,76.0,16.0,11484083.0,17.908,-0.760877,52644143.0,82.092,0.984309,80 or greater,0 to 2%

In [130]:
kg_median_year = merged_data.groupby('Year').agg({'KG_Consumer_Per_Capita': np.median}).reset_index()
kg_median_year

    Year  KG_Consumer_Per_Capita
0   1990                3.951289
1   1991                4.178986
2   1992                5.284320
3   1993                5.009126
4   1994                5.005571
5   1995                5.551360
6   1996                5.642262
7   1997                5.666852
8   1998                5.659824
9   1999                5.515951
10  2000                5.835717
11  2001                6.152428
12  2002                6.454882
13  2003                6.135199
14  2004                6.579470
15  2005                6.340222
16  2006                6.631407
17  2007                6.691626
18  2008                7.248869
19  2009                6.740250
20  2010                6.770376
21  2011                7.017861
22  2012                7.171630
23  2013                7.879610

In [133]:
GDP_median_year = merged_data.groupby('Year').agg({'GDP per Capita PPP': np.median}).reset_index()
GDP_median_year

    Year  GDP per Capita PPP
0   1990         6604.940832
1   1991         6901.664012
2   1992         6890.441285
3   1993         7022.865021
4   1994         6568.780825
5   1995         7351.828808
6   1996         8011.571183
7   1997         8594.561343
8   1998         8588.358096
9   1999         8624.437256
10  2000         9073.976905
11  2001         9215.131989
12  2002         9581.992836
13  2003         9747.941038
14  2004        10860.058740
15  2005        11887.863950
16  2006        13808.177620
17  2007        14849.325290
18  2008        16053.803790
19  2009        15489.871920
20  2010        17425.861360
21  2011        18400.906290
22  2012        17162.927520
23  2013        17373.897020

In [134]:
life_median_year = merged_data.groupby('Year').agg({'Life Expectancy': np.median}).reset_index()
life_median_year

    Year  Life Expectancy
0   1990          69.7715
1   1991          69.8700
2   1992          69.7045
3   1993          69.7500
4   1994          69.9350
5   1995          70.1560
6   1996          70.2140
7   1997          70.2660
8   1998          70.4160
9   1999          70.7270
10  2000          71.0190
11  2001          71.2930
12  2002          71.5560
13  2003          71.8130
14  2004          72.1460
15  2005          72.4810
16  2006          72.8660
17  2007          73.2190
18  2008          73.3310
19  2009          73.6170
20  2010          73.9320
21  2011          74.3750
22  2012          74.6060
23  2013          74.7970

In [139]:
merged_data['MtCO2e'] = merged_data['MtCO2e'].astype(float)
merged_data.dtypes

Country Code                                                       object
Meat_Type                                                          object
Year                                                               object
KG_Consumer_Per_Capita                                            float64
Country Name                                                       object
Population                                                        float64
GDP per Capita PPP                                                float64
MtCO2e                                                            float64
Life Expectancy                                                   float64
Adolescent fertility rate (births per 1,000 women ages 15-19)     float64
Fertility rate, total (births per woman)                          float64
Number of infant deaths                                           float64
Number of maternal deaths                                         float64
Prevalence of tuberculosis (per 100,000 population)               float64
Rural population                                                  float64
Rural population (% of total population)                          float64
Rural population growth (annual %)                                float64
Urban population                                                  float64
Urban population (% of total)                                     float64
Urban population growth (annual %)                                float64
percent_urban_population_bins                                    category
percent_urban_population_annual_growth_bins                      category
dtype: object

In [140]:
C02_median_year = merged_data.groupby('Year').agg({'MtCO2e': np.median}).reset_index()
C02_median_year

    Year   MtCO2e
0   1990  228.810
1   1991  239.455
2   1992  283.190
3   1993  272.120
4   1994  252.510
5   1995  255.070
6   1996  269.710
7   1997  266.820
8   1998  271.900
9   1999  267.240
10  2000  278.870
11  2001  270.240
12  2002  288.900
13  2003  298.200
14  2004  322.760
15  2005  336.400
16  2006  332.300
17  2007  357.030
18  2008  368.360
19  2009  327.370
20  2010  345.370
21  2011  363.650
22  2012  364.850
23  2013  353.900

In [141]:
pop_median_year = merged_data.groupby('Year').agg({'Population': np.median}).reset_index()
pop_median_year

    Year  Population
0   1990  55081900.5
1   1991  56067740.0
2   1992  53980700.0
3   1993  53477944.0
4   1994  55366517.0
5   1995  57237226.0
6   1996  58166950.0
7   1997  58316954.0
8   1998  58487141.0
9   1999  58682466.0
10  2000  58892514.0
11  2001  59119673.0
12  2002  59370479.0
13  2003  59647577.0
14  2004  59987905.0
15  2005  60401206.0
16  2006  60846820.0
17  2007  61322463.0
18  2008  61806995.0
19  2009  62276270.0
20  2010  62766365.0
21  2011  63258918.0
22  2012  63700300.0
23  2013  64106779.0

In [142]:
merged_data.loc[0, 'Year']

'1990'

In [146]:
kg_median_year

    Year  KG_Consumer_Per_Capita
0   1990                3.951289
1   1991                4.178986
2   1992                5.284320
3   1993                5.009126
4   1994                5.005571
5   1995                5.551360
6   1996                5.642262
7   1997                5.666852
8   1998                5.659824
9   1999                5.515951
10  2000                5.835717
11  2001                6.152428
12  2002                6.454882
13  2003                6.135199
14  2004                6.579470
15  2005                6.340222
16  2006                6.631407
17  2007                6.691626
18  2008                7.248869
19  2009                6.740250
20  2010                6.770376
21  2011                7.017861
22  2012                7.171630
23  2013                7.879610

In [153]:
merged_data = pd.merge(merged_data, kg_median_year, on=['Year'], how = 'left')

In [152]:
#test_merge.to_csv('/Users/nicholaslandi/Desktop/DataVizCode/test.csv', index=False)

In [154]:
merged_data = pd.merge(merged_data, GDP_median_year , on=['Year'], how = 'left')

In [155]:
merged_data = pd.merge(merged_data, life_median_year , on=['Year'], how = 'left')

In [156]:
merged_data = pd.merge(merged_data, C02_median_year , on=['Year'], how = 'left')

In [157]:
merged_data = pd.merge(merged_data, pop_median_year  , on=['Year'], how = 'left')

In [158]:
#merged_data.to_csv('/Users/nicholaslandi/Desktop/DataVizCode/final_dataset.csv', index=False)

In [159]:
merged_data

,Country Code,Meat_Type,Year,KG_Consumer_Per_Capita_x,Country Name,Population_x,GDP per Capita PPP_x,MtCO2e_x,Life Expectancy_x,"Adolescent fertility rate (births per 1,000 women ages 15-19)","Fertility rate, total (births per woman)",Number of infant deaths,Number of maternal deaths,"Prevalence of tuberculosis (per 100,000 population)",Rural population,Rural population (% of total population),Rural population growth (annual %),Urban population,Urban population (% of total),Urban population growth (annual %),percent_urban_population_bins,percent_urban_population_annual_growth_bins,KG_Consumer_Per_Capita_y,GDP per Capita PPP_y,Life Expectancy_y,MtCO2e_y,Population_y
0,AUS,BEEF,1990,0.000004,Australia,17065100.0,17329.70661,558.21,76.994634,20.9650,1.902,1870.0,21.0,8.3,2491505.0,14.600,1.480010,14573595.0,85.400,1.479972,80 or greater,0 to 2%,3.951289,6604.940832,69.7715,228.810,55081900.5
1,AUS,BEEF,1991,27.808401,Australia,17284000.0,17790.98014,558.13,77.275610,20.9200,1.849,1760.0,21.0,8.4,2523464.0,14.600,1.274562,14760536.0,85.400,1.274580,80 or greater,0 to 2%,4.178986,6901.664012,69.8700,239.455,56067740.0
2,AUS,BEEF,1992,26.278166,Australia,17495000.0,18189.37874,560.30,77.378049,20.8750,1.888,1691.0,21.0,8.4,2525228.0,14.434,0.069879,14969772.0,85.566,1.407583,80 or greater,0 to 2%,5.284320,6890.441285,69.7045,283.190,53980700.0
3,AUS,BEEF,1993,26.244478,Australia,17667000.0,19131.84187,559.98,77.878049,20.5906,1.859,1627.0,21.0,8.4,2517901.0,14.252,-0.290574,15149099.0,85.748,1.190809,80 or greater,0 to 2%,5.009126,7022.865021,69.7500,272.120,53477944.0
4,AUS,BEEF,1994,25.541244,Australia,17855000.0,20064.45901,563.06,77.878049,20.3062,1.842,1577.0,21.0,8.4,2512556.0,14.072,-0.212506,15342444.0,85.928,1.268205,80 or greater,0 to 2%,5.005571,6568.780825,69.9350,252.510,55366517.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3327,GBR,SHEEP,2009,4.915320,United Kingdom,62276270.0,35003.49742,570.73,80.051220,22.6162,1.890,4016.0,82.0,18.0,11813186.0,18.969,-0.677735,50463084.0,81.031,1.095105,80 or greater,0 to 2%,6.740250,15489.871920,73.6170,327.370,62276270.0
3328,GBR,SHEEP,2010,4.352106,United Kingdom,62766365.0,36340.73387,583.60,80.402439,21.1118,1.920,3917.0,80.0,18.0,11736055.0,18.698,-0.655064,51030310.0,81.302,1.117771,80 or greater,0 to 2%,6.770376,17425.861360,73.9320,345.370,62766365.0
3329,GBR,SHEEP,2011,4.123211,United Kingdom,63258918.0,37161.49069,540.98,80.951220,19.6074,1.910,3704.0,77.0,17.0,11658619.0,18.430,-0.661999,51600299.0,81.570,1.110770,80 or greater,0 to 2%,7.017861,18400.906290,74.3750,363.650,63258918.0
3330,GBR,SHEEP,2012,3.880044,United Kingdom,63700300.0,38311.84608,562.45,80.904878,18.1030,1.920,3498.0,77.0,17.0,11571796.0,18.166,-0.747498,52128504.0,81.834,1.018443,80 or greater,0 to 2%,7.171630,17162.927520,74.6060,364.850,63700300.0
3331,GBR,SHEEP,2013,4.093783,United Kingdom,64106779.0,39971.02536,543.71,81.004878,16.7186,1.830,3173.0,76.0,16.0,11484083.0,17.908,-0.760877,52644143.0,82.092,0.984309,80 or greater,0 to 2%,7.879610,17373.897020,74.7970,353.900,64106779.0

In [160]:
merged_data.columns

Index(['Country Code', 'Meat_Type', 'Year', 'KG_Consumer_Per_Capita_x',
       'Country Name', 'Population_x', 'GDP per Capita PPP_x', 'MtCO2e_x',
       'Life Expectancy_x',
       'Adolescent fertility rate (births per 1,000 women ages 15-19)',
       'Fertility rate, total (births per woman)', 'Number of infant deaths',
       'Number of maternal deaths',
       'Prevalence of tuberculosis (per 100,000 population)',
       'Rural population', 'Rural population (% of total population)',
       'Rural population growth (annual %)', 'Urban population',
       'Urban population (% of total)', 'Urban population growth (annual %)',
       'percent_urban_population_bins',
       'percent_urban_population_annual_growth_bins',
       'KG_Consumer_Per_Capita_y', 'GDP per Capita PPP_y', 'Life Expectancy_y',
       'MtCO2e_y', 'Population_y'],
      dtype='object')

In [161]:
merged_data = merged_data.rename({'KG_Consumer_Per_Capita_x':'KG_Consumer_Per_Capita'
                                  , 'Population_x':'Population', 
                                  'GDP per Capita PPP_x':'GDP per Capita PPP',
                                 'MtCO2e_x': 'MtCO2e',
                                 'Life Expectancy_x': 'Life Expectancy',
                                 'KG_Consumer_Per_Capita_y': 'Median_KG_Year',
                                 'GDP per Capita PPP_y': 'Median_GDP_Year', 
                                 'Life Expectancy_y': 'Median_Life_Year',
                                 'MtCO2e_y': 'Median_MtCO2e_Year',
                                'Population_y': 'Median_Population_Year'}, axis=1)

In [164]:
#merged_data.to_csv('/Users/nicholaslandi/Desktop/DataVizCode/final_dataset.csv', index=False)

In [167]:
merged_data['Population'].describe()

count    3.332000e+03
mean     1.330311e+08
std      2.667105e+08
min      3.329800e+06
25%      2.228313e+07
50%      5.728804e+07
75%      1.168156e+08
max      1.357380e+09
Name: Population, dtype: float64

In [168]:
1.357380e+09

1357380000.0

In [171]:
merged_data['GDP per Capita PPP'].describe()

count     3332.000000
mean     15209.509274
std      13109.568556
min        396.471751
25%       5443.412266
50%      10044.190630
75%      22500.477590
max      66961.253100
Name: GDP per Capita PPP, dtype: float64

In [173]:
merged_data['MtCO2e'].describe()

count     3332.000000
mean       803.965978
std       1461.380679
min          1.170000
25%        147.110000
50%        300.140000
75%        669.830000
max      11144.760000
Name: MtCO2e, dtype: float64

In [174]:
merged_data['scaled_MtCO2e'] = merged_data['MtCO2e']/120

In [175]:
merged_data['scaled GDP per Capita PPP'] = merged_data['GDP per Capita PPP']/700

In [176]:
merged_data['scaled_Population'] = merged_data['Population']/14000000

In [177]:
merged_data['scaled_Population'].describe()

count    3332.000000
mean        9.502219
std        19.050753
min         0.237843
25%         1.591652
50%         4.092003
75%         8.343972
max        96.955714
Name: scaled_Population, dtype: float64

In [178]:
merged_data['scaled GDP per Capita PPP'].describe()

count    3332.000000
mean       21.727870
std        18.727955
min         0.566388
25%         7.776303
50%        14.348844
75%        32.143539
max        95.658933
Name: scaled GDP per Capita PPP, dtype: float64

In [179]:
merged_data['scaled_MtCO2e'].describe()

count    3332.000000
mean        6.699716
std        12.178172
min         0.009750
25%         1.225917
50%         2.501167
75%         5.581917
max        92.873000
Name: scaled_MtCO2e, dtype: float64

In [180]:
scaled_co2_median_year = merged_data.groupby('Year').agg({'scaled_MtCO2e': np.median}).reset_index()
scaled_co2_median_year

    Year  scaled_MtCO2e
0   1990       1.906750
1   1991       1.995458
2   1992       2.359917
3   1993       2.267667
4   1994       2.104250
5   1995       2.125583
6   1996       2.247583
7   1997       2.223500
8   1998       2.265833
9   1999       2.227000
10  2000       2.323917
11  2001       2.252000
12  2002       2.407500
13  2003       2.485000
14  2004       2.689667
15  2005       2.803333
16  2006       2.769167
17  2007       2.975250
18  2008       3.069667
19  2009       2.728083
20  2010       2.878083
21  2011       3.030417
22  2012       3.040417
23  2013       2.949167

In [181]:
scaled_GDP_median_year = merged_data.groupby('Year').agg({'scaled GDP per Capita PPP': np.median}).reset_index()
scaled_GDP_median_year

    Year  scaled GDP per Capita PPP
0   1990                   9.435630
1   1991                   9.859520
2   1992                   9.843488
3   1993                  10.032664
4   1994                   9.383973
5   1995                  10.502613
6   1996                  11.445102
7   1997                  12.277945
8   1998                  12.269083
9   1999                  12.320625
10  2000                  12.962824
11  2001                  13.164474
12  2002                  13.688561
13  2003                  13.925630
14  2004                  15.514370
15  2005                  16.982663
16  2006                  19.725968
17  2007                  21.213322
18  2008                  22.934005
19  2009                  22.128388
20  2010                  24.894088
21  2011                  26.287009
22  2012                  24.518468
23  2013                  24.819853

In [182]:
scaled_pop_median_year = merged_data.groupby('Year').agg({'scaled_Population': np.median}).reset_index()
scaled_pop_median_year

    Year  scaled_Population
0   1990           3.934421
1   1991           4.004839
2   1992           3.855764
3   1993           3.819853
4   1994           3.954751
5   1995           4.088373
6   1996           4.154782
7   1997           4.165497
8   1998           4.177653
9   1999           4.191605
10  2000           4.206608
11  2001           4.222834
12  2002           4.240748
13  2003           4.260541
14  2004           4.284850
15  2005           4.314372
16  2006           4.346201
17  2007           4.380176
18  2008           4.414785
19  2009           4.448305
20  2010           4.483312
21  2011           4.518494
22  2012           4.550021
23  2013           4.579056

In [188]:
#print(merged_data['KG_Consumer_Per_Capita'].describe())
#print(merged_data['Life Expectancy'].describe())

In [189]:
merged_data = pd.merge(merged_data, scaled_co2_median_year , on=['Year'], how = 'left')

In [190]:
merged_data = pd.merge(merged_data, scaled_GDP_median_year , on=['Year'], how = 'left')

In [191]:
merged_data = pd.merge(merged_data, scaled_pop_median_year , on=['Year'], how = 'left')

In [194]:
merged_data = merged_data.rename({'scaled_MtCO2e_x':'scaled_MtCO2e'
                                  , 'scaled GDP per Capita PPP_x':'scaled_GDP_per_Capita_PPP', 
                                  'scaled_Population_x':'scaled_Population',
                                 'scaled_MtCO2e_y': 'scaled_median_MtCO2e_year',
                                 'scaled GDP per Capita PPP_y': 'scaled_median_GDP_per_Capita_PPP_year',
                                 'scaled_Population_y': 'scaled_median_Population_year'}, axis=1)

In [195]:
merged_data

,Country Code,Meat_Type,Year,KG_Consumer_Per_Capita,Country Name,Population,GDP per Capita PPP,MtCO2e,Life Expectancy,"Adolescent fertility rate (births per 1,000 women ages 15-19)","Fertility rate, total (births per woman)",Number of infant deaths,Number of maternal deaths,"Prevalence of tuberculosis (per 100,000 population)",Rural population,Rural population (% of total population),Rural population growth (annual %),Urban population,Urban population (% of total),Urban population growth (annual %),percent_urban_population_bins,percent_urban_population_annual_growth_bins,Median_KG_Year,Median_GDP_Year,Median_Life_Year,Median_MtCO2e_Year,Median_Population_Year,scaled_MtCO2e,scaled_GDP_per_Capita_PPP,scaled_Population,scaled_median_MtCO2e_year,scaled_median_GDP_per_Capita_PPP_year,scaled_median_Population_year
0,AUS,BEEF,1990,0.000004,Australia,17065100.0,17329.70661,558.21,76.994634,20.9650,1.902,1870.0,21.0,8.3,2491505.0,14.600,1.480010,14573595.0,85.400,1.479972,80 or greater,0 to 2%,3.951289,6604.940832,69.7715,228.810,55081900.5,4.651750,24.756724,1.218936,1.906750,9.435630,3.934421
1,AUS,BEEF,1991,27.808401,Australia,17284000.0,17790.98014,558.13,77.275610,20.9200,1.849,1760.0,21.0,8.4,2523464.0,14.600,1.274562,14760536.0,85.400,1.274580,80 or greater,0 to 2%,4.178986,6901.664012,69.8700,239.455,56067740.0,4.651083,25.415686,1.234571,1.995458,9.859520,4.004839
2,AUS,BEEF,1992,26.278166,Australia,17495000.0,18189.37874,560.30,77.378049,20.8750,1.888,1691.0,21.0,8.4,2525228.0,14.434,0.069879,14969772.0,85.566,1.407583,80 or greater,0 to 2%,5.284320,6890.441285,69.7045,283.190,53980700.0,4.669167,25.984827,1.249643,2.359917,9.843488,3.855764
3,AUS,BEEF,1993,26.244478,Australia,17667000.0,19131.84187,559.98,77.878049,20.5906,1.859,1627.0,21.0,8.4,2517901.0,14.252,-0.290574,15149099.0,85.748,1.190809,80 or greater,0 to 2%,5.009126,7022.865021,69.7500,272.120,53477944.0,4.666500,27.331203,1.261929,2.267667,10.032664,3.819853
4,AUS,BEEF,1994,25.541244,Australia,17855000.0,20064.45901,563.06,77.878049,20.3062,1.842,1577.0,21.0,8.4,2512556.0,14.072,-0.212506,15342444.0,85.928,1.268205,80 or greater,0 to 2%,5.005571,6568.780825,69.9350,252.510,55366517.0,4.692167,28.663513,1.275357,2.104250,9.383973,3.954751
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3327,GBR,SHEEP,2009,4.915320,United Kingdom,62276270.0,35003.49742,570.73,80.051220,22.6162,1.890,4016.0,82.0,18.0,11813186.0,18.969,-0.677735,50463084.0,81.031,1.095105,80 or greater,0 to 2%,6.740250,15489.871920,73.6170,327.370,62276270.0,4.756083,50.004996,4.448305,2.728083,22.128388,4.448305
3328,GBR,SHEEP,2010,4.352106,United Kingdom,62766365.0,36340.73387,583.60,80.402439,21.1118,1.920,3917.0,80.0,18.0,11736055.0,18.698,-0.655064,51030310.0,81.302,1.117771,80 or greater,0 to 2%,6.770376,17425.861360,73.9320,345.370,62766365.0,4.863333,51.915334,4.483312,2.878083,24.894088,4.483312
3329,GBR,SHEEP,2011,4.123211,United Kingdom,63258918.0,37161.49069,540.98,80.951220,19.6074,1.910,3704.0,77.0,17.0,11658619.0,18.430,-0.661999,51600299.0,81.570,1.110770,80 or greater,0 to 2%,7.017861,18400.906290,74.3750,363.650,63258918.0,4.508167,53.087844,4.518494,3.030417,26.287009,4.518494
3330,GBR,SHEEP,2012,3.880044,United Kingdom,63700300.0,38311.84608,562.45,80.904878,18.1030,1.920,3498.0,77.0,17.0,11571796.0,18.166,-0.747498,52128504.0,81.834,1.018443,80 or greater,0 to 2%,7.171630,17162.927520,74.6060,364.850,63700300.0,4.687083,54.731209,4.550021,3.040417,24.518468,4.550021
3331,GBR,SHEEP,2013,4.093783,United Kingdom,64106779.0,39971.02536,543.71,81.004878,16.7186,1.830,3173.0,76.0,16.0,11484083.0,17.908,-0.760877,52644143.0,82.092,0.984309,80 or greater,0 to 2%,7.879610,17373.897020,74.7970,353.900,64106779.0,4.530917,57.101465,4.579056,2.949167,24.819853,4.579056

In [196]:
#merged_data.to_csv('/Users/nicholaslandi/Desktop/DataVizCode/final_dataset.csv', index=False)

In [226]:
merged_data[merged_data['Year'] == '2007']['Median_GDP_Year']

17      14849.32529
41      14849.32529
65      14849.32529
89      14849.32529
113     14849.32529
           ...
3229    14849.32529
3253    14849.32529
3277    14849.32529
3301    14849.32529
3325    14849.32529
Name: Median_GDP_Year, Length: 140, dtype: float64

In [205]:
merged_data[merged_data['Year'] == '2007']['Median_KG_Year'].describe()

count    1.400000e+02
mean     6.691626e+00
std      1.069641e-14
min      6.691626e+00
25%      6.691626e+00
50%      6.691626e+00
75%      6.691626e+00
max      6.691626e+00
Name: Median_KG_Year, dtype: float64

In [252]:
#merged_data[(merged_data['Year'] == '2007') & (merged_data['Country Name'] =='Nigeria')]